@import url(bootstrap.min.css);
@import url(animate.css);
@import url(font.css);
@import url(owl.theme.default.min.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);
@import url(jquery.dataTables.min.css);
@import url(dataTables.bootstrap4.min.css);
@import url(font-awesome.min.css);
@import url(colorPick.css);
@import url(colorPick.dark.theme.css);
.right-arrowicon {
  -webkit-mask: url(../images/icon/arrow_forward-24px.svg) no-repeat 50% 50%;
  mask: url(../images/icon/arrow_forward-24px.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 21px;
  height: 18px;
  color: #1D61F6;
  fill: #1D61F6;
  background-color: #1D61F6;
  margin: 0 0 0 10px;
}

.right-arrowicon.icon-14 {
  width: 20px;
  height: 16px;
  margin: 4px 0 0 15px;
}

/* Use the variables */
body {
  background-color: #F6F8FB;
  color: #000000;
  font-size: 18px;
  font-family: 'Niva-Alt', sans-serif !important;
  font-weight: normal;
}

/* end the variables */
.header {
  /* header top changes */
  /** End of changes  */
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .col-header .col-30 {
  width: 30%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .col-header .col-70 {
  width: 70%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.header .navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: block;
  background-color: #ffffff;
  padding: 21px 0;
  -webkit-box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  z-index: 999;
}

.header .navbar .navbar-brand {
  width: 200px;
  height: auto;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-toggler {
  color: #000000;
  padding: 0;
  outline: 0 !important;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #ffffff00;
  background-image: url("../../assets/images/menubar.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 26px;
  width: 26px;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 18px;
  letter-spacing: 0.12;
  font-family: "Niva-Alt", sans-serif !important;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  color: #1D61F6;
}

.header .navbar .collapse1 .navbar-nav .nav-item .m-block {
  display: none;
  padding: 0 10px;
}

.header .navbar .collapse1 .navbar-nav .nav-link.active {
  color: #1D61F6 !important;
}

.header .navbar .collapse1 .nav-btn .nav-link {
  display: block;
  background-color: #ED5C37;
  color: #ffffff;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .navbar .collapse1 .nav-btn .nav-link:hover {
  background-color: #f2f2f2;
  color: #1D61F6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header .user-drop-down {
  margin-left: 10px;
}

.header .user-drop-down .dropleft a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.header .user-drop-down .dropleft a::before {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #D8D8D8;
  font-size: 24px;
}

.header .user-drop-down .dropleft a .user-profile {
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .user-drop-down .dropleft a .user-profile .user-info {
  padding: 0 10px;
  text-align: right;
}

.header .user-drop-down .dropleft a .user-profile .user-info h3 {
  font-size: 20px;
  margin: 0;
  line-height: 28px;
  font-weight: 300;
  color: #000;
}

.header .user-drop-down .dropleft a .user-profile .user-info p {
  font-size: 14px;
  margin: 0;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

.header .user-drop-down .dropleft a .user-profile .user-img {
  margin: 0 10px;
  height: 50px;
  width: 50px;
  overflow: hidden;
}

.header .user-drop-down .dropleft a .user-profile .user-img img {
  width: 100%;
  border-radius: 100px;
}

.header .user-drop-down .dropleft .dropdown-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header .user-drop-down .dropleft .dropdown-menu ul li a {
  text-align: left;
  display: block;
}

.header .user-drop-down .dropleft .btn-default.dropdown-toggle {
  min-width: 300px;
}

.header .dropdown-custom-top .dropdown-menu {
  top: 75px;
  right: auto;
  left: 0;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  -webkit-box-shadow: 6px 6px 14px 0 rgba(242, 242, 242, 0.4);
          box-shadow: 6px 6px 14px 0 rgba(242, 242, 242, 0.4);
  border-radius: 0px;
}

.header .dropdown-custom-top .dropdown-menu::after {
  content: "";
  border-top: 10px solid #ffffff00;
  border-right: 10px solid #ddd0;
  border-bottom: 10px solid #ffffff;
  border-left: 10px solid #ffffff00;
  display: inline-block;
  position: absolute;
  top: -19px;
  left: 10px;
}

.header .dropdown-custom-top .dropdown-menu:before {
  content: "";
  border-top: 10px solid #ffffff00;
  border-right: 10px solid #ddd0;
  border-bottom: 10px solid #F1F1F1;
  border-left: 10px solid #ffffff00;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 10px;
}

.header .dropdown-custom-top .dropdown-menu a.dropdown-item {
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 300;
  padding: 6px 15px;
}

.header .dropdown-custom-top .dropdown-menu a.dropdown-item:hover, .header .dropdown-custom-top .dropdown-menu a.dropdown-item:focus, .header .dropdown-custom-top .dropdown-menu a.dropdown-item:active {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.header .dropdown-custom-top .dropdown-menu a.dropdown-item .dropdown-item.active {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.header .dropdown-custom-top .dropdown-menu hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  padding: 0;
  margin: 10px 15px 5px 15px;
}

.header .searching-div-nav {
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .searching-div-nav .searching-div {
  width: 100%;
  padding: 0 40px 0 0;
}

.header .searching-div-nav .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin: 0 0 0 0;
  position: relative;
}

.header .searching-div-nav .form-group .form-control.form-search {
  width: 100%;
  min-height: 50px;
  padding: 0 0px 0 55px;
  margin: 0;
  background-color: #F6F8FB;
  border-radius: 6px 0px 0px 6px;
  border: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .searching-div-nav .form-group .form-control.form-search:focus, .header .searching-div-nav .form-group .form-control.form-search:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.header .searching-div-nav .form-group .btn-saerch {
  width: auto;
  min-height: 50px;
  padding: 0px 15px 5px 15px;
  margin: 0;
  background-color: transparent;
  border-radius: 0px 6px 6px 0px;
  border: none;
  display: inline-block;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .searching-div-nav .form-group .btn-saerch img.searching-img {
  width: 100%;
  display: inline-block;
}

.header .searching-div-nav .form-group .btn-saerch:focus, .header .searching-div-nav .form-group .btn-saerch:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.header .searching-div-nav .form-group .btn-saerch:focus .searching-img, .header .searching-div-nav .form-group .btn-saerch:hover .searching-img {
  opacity: 1;
}

.header .searching-div-nav .form-group .btn-cancle {
  width: 32px;
  min-height: 32px;
  padding: 0;
  margin: 0;
  background-color: rgba(29, 97, 246, 0.1);
  border-radius: 0px 6px 6px 0px;
  color: #1D61F6;
  border: none;
  display: inline-block;
  position: absolute;
  border-radius: 100%;
  font-size: 16px;
  right: 10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .searching-div-nav .form-group .btn-cancle:focus, .header .searching-div-nav .form-group .btn-cancle:hover, .header .searching-div-nav .form-group .btn-cancle:active {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.header .searching-div-nav .form-group .display-none {
  display: none;
}

.header .searching-div-nav .form-searching-group.active .display-none {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .searching-div-nav .form-searching-group.active .btn-saerch {
  position: absolute;
  left: 0;
}

.header .searching-div-nav .searching-img {
  opacity: 0.4;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .notification-dropdown-group {
  min-height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100px;
}

.header .notification-dropdown-group ul {
  list-style: none;
  padding: 0;
}

.header .notification-dropdown-group .btn.btn-default {
  position: relative;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .notification-dropdown-group .btn.btn-default:focus, .header .notification-dropdown-group .btn.btn-default:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.header .notification-dropdown-group .btn.btn-default:focus img.notification-icon, .header .notification-dropdown-group .btn.btn-default:hover img.notification-icon {
  opacity: 1;
}

.header .notification-dropdown-group .dropdown-toggle::before {
  display: none;
}

.header .notification-dropdown-group span.count-round {
  padding: 0 0 2px 0;
  margin: 0;
  background-color: #1D61F6;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  font-size: 11px;
  line-height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  color: #fff;
  right: 5px;
  border: 2px solid #FFFFFF;
}

.header .notification-dropdown-group .dropdown-menu {
  min-width: 385px;
  left: auto;
  right: 0;
  padding: 0;
}

.header .notification-dropdown-group .dropdown-menu::after {
  top: -19px;
  right: 63px;
  left: auto;
}

.header .notification-dropdown-group .dropdown-menu:before {
  top: -20px;
  right: 63px;
  left: auto;
}

.header .notification-dropdown-group .notification-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.header .notification-dropdown-group .notification-box .notification-heading {
  padding: 12px 20px;
  margin: 0;
  border-bottom: 1px solid #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .notification-dropdown-group .notification-box .notification-heading h3 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 5px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  color: #000000;
}

.header .notification-dropdown-group .notification-box .notification-body {
  padding: 12px 20px;
  margin: 0;
  max-height: 420px;
  overflow-y: auto;
}

.header .notification-dropdown-group .notification-box .notification-body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.header .notification-dropdown-group .notification-box .notification-body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 24px 24px;
}

.header .notification-dropdown-group .notification-box .notification-body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(45deg, #014AEA, #0281F6);
  border-radius: 5px;
}

.header .notification-dropdown-group .notification-box .notification-body h5 {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 5px;
  line-height: 18px;
  padding: 0;
  margin: 0;
  color: #C8C8C8;
}

.header .notification-dropdown-group .notification-box .notification-body .row-day {
  padding: 10px 0px 0 0;
  margin: 10px 0 10px 0;
  border-top: 1px solid #FAFAFA;
}

.header .notification-dropdown-group .notification-box .notification-body .row-day:first-child {
  padding: 0px 0px 0 0;
  margin: 0px 0 0 0;
  border-top: 0px solid #FAFAFA;
}

.header .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notificationlink {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F6F8FB;
  border: 1px solid #F6F8FB;
  position: relative;
  margin: 10px 0 0 0;
  border-radius: 10px;
}

.header .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .user-img {
  padding: 0px 0px 0 10px;
  margin: 0;
  min-width: 50px;
}

.header .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .user-img img.not-img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border-radius: 100px;
}

.header .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc {
  padding: 0px 0px;
  padding-left: 10px;
  margin: 0;
  width: calc(100% - 50px);
}

.header .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc p {
  padding: 0px 0px;
  margin: 0;
  font-size: 16px;
  color: #303030;
  line-height: 24px;
  font-weight: 400;
  max-width: 180px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.header .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc span.time-span {
  font-size: 10px;
  color: #727272;
  letter-spacing: 0;
  font-weight: 300;
  position: absolute;
  right: 10px;
  bottom: 13px;
}

.header .notification-dropdown-group .notification-box .notification-footer {
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #F6F8FB;
}

.header .notification-dropdown-group .notification-box .notification-footer .btn.btn-gradiant.btn-achieved {
  min-height: 30px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
}

.header .notification-dropdown-group .notification-box .notification-footer .btn.btn-gradiant.btn-achieved:focus, .header .notification-dropdown-group .notification-box .notification-footer .btn.btn-gradiant.btn-achieved:hover {
  -webkit-transform: none;
          transform: none;
}

.header .notification-dropdown-group img.notification-icon {
  opacity: 0.4;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.header .navbar-nav-desktop {
  width: 100%;
  min-height: 66px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-nav-desktop li.nav-item.searching-div-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 66px;
}

.left-sidebar {
  display: block;
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #ffffff;
  z-index: 9;
}

.left-sidebar .left-sidebar-inner {
  margin-top: 108px;
  height: auto;
  padding: 20px 0;
  -webkit-box-shadow: 1px 0 0 0 rgba(200, 200, 200, 0.13);
          box-shadow: 1px 0 0 0 rgba(200, 200, 200, 0.13);
}

.left-sidebar .left-sidebar-inner .upload-file {
  padding: 20px;
}

.left-sidebar .left-sidebar-inner .upload-file .custom-file .custom-file-label {
  background-image: linear-gradient(225deg, #0281F6 0%, #014AEA 100%);
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
}

.left-sidebar .left-sidebar-inner .upload-file .custom-file .custom-file-label::after {
  display: none;
}

.left-sidebar .left-sidebar-inner .upload-file .custom-file .custom-file-label:hover {
  cursor: pointer;
}

.left-sidebar .left-sidebar-inner .upload-file .custom-file .custom-file-input:hover {
  cursor: pointer;
}

.left-sidebar .left-sidebar-inner .navbar-left ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.left-sidebar .left-sidebar-inner .navbar-left ul li.nav-item {
  list-style: none;
}

.left-sidebar .left-sidebar-inner .navbar-left ul li.nav-item a {
  font-size: 18px;
  color: #303030;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  padding: 10px 20px;
  display: block;
  position: relative;
}

.left-sidebar .left-sidebar-inner .navbar-left ul li.nav-item a i {
  margin-right: 10px;
  color: #303030;
}

.left-sidebar .left-sidebar-inner .navbar-left ul li.nav-item a.active {
  color: #000000;
  background-color: #F6F8FB;
}

.left-sidebar .left-sidebar-inner .navbar-left ul li.nav-item a.active i {
  color: #1D61F6;
}

.left-sidebar .left-sidebar-inner .navbar-left ul li.nav-item a.active::before {
  content: "";
  height: 16px;
  width: 2px;
  background-color: #1D61F6;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 15px;
  border-radius: 8px;
}

/*############################## Home section ###############################*/
.img-fluid {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.form-control-transperant {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.form-control-transperant:focus {
  background-color: transparent;
  border: 0;
}

.btn.btn-gradiant-sm {
  padding: 0 20px;
  margin: 0;
  border: 0px solid #1D61F6;
  background-image: linear-gradient(45deg, #014AEA, #0281F6);
  background-color: #1D61F6;
  color: #ffffff;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  border-radius: 6px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-gradiant-sm:hover, .btn.btn-gradiant-sm:focus {
  background-color: #1D61F6;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);
  box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);
  -webkit-box-shadow: 0 12px 24px 0 rgba(29, 97, 246, 0.3);
  box-shadow: 0 12px 24px 0 rgba(29, 97, 246, 0.3);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0 2px;
}

table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {
  right: 7px !important;
}

.upload-lisitng-table .datatable-responsive thead > tr > th.sorting_asc, .upload-lisitng-table .datatable-responsive thead > tr > th.sorting_desc, .upload-lisitng-table .datatable-responsive thead > tr > th.sorting, .upload-lisitng-table .datatable-responsive thead > tr > td.sorting_asc, .upload-lisitng-table .datatable-responsive thead > tr > td.sorting_desc, .upload-lisitng-table .datatable-responsive thead > tr > td.sorting {
  padding-right: 25px !important;
}

.file-listing-section .upload-lisitng-table table.dataTable tbody tr td {
  vertical-align: middle;
}

.file-listing-section .upload-lisitng-table .datatable-responsive tbody tr td {
  margin-bottom: 0 !important;
}

.file-listing-section .upload-lisitng-table .datatable-responsive tbody tr:hover td {
  background-color: #ffffff !important;
  cursor: pointer;
}

.file-listing-section .upload-lisitng-table .datatable-responsive tbody tr td.first-col span {
  margin-left: 10px !important;
}

.file-listing-section .upload-lisitng-table .datatable-responsive tbody tr td.second-col {
  font-weight: 600;
  color: #303030 !important;
}

.custom-checkbox .custom-control-label::before {
  color: #fff;
  border-color: #C8C8C8;
  background-color: transparent;
  border-radius: 0;
  height: 20px;
  width: 20px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #C8C8C8;
  background-color: transparent;
  border-radius: 0;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("../images/check.png");
  width: 50px;
  height: 34px;
  left: -36px;
  top: -5px;
  display: block;
}

.selected-color {
  position: relative;
  font-family: Feather !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.selected-color:before {
  content: "";
  border: 2px solid #F1F1F1 !important;
  position: absolute;
  top: -4px;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  left: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selected-color:after {
  content: "\e92b";
  position: absolute;
  top: -4px;
  width: 56px;
  height: 56px;
  border-radius: 100px;
  left: -4px;
  font-size: 20px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.picker {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-left: 10px;
  background-color: transparent !important;
  position: relative;
  top: 5px;
}

.picker i {
  color: #000000;
}

#colorPick {
  width: 260px;
  background-color: #ffffff;
  display: inline-block;
}

#colorPick span {
  color: #727272;
}

#colorPick {
  z-index: 9999;
  margin: 20px 0 0 0;
  border: 1px solid #F1F1F1;
  -webkit-box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.1);
}

#colorPick .text-right {
  padding: 10px 10px;
  margin: 0 -15px -15px -15px;
  background-color: #F1F1F1;
}

#colorPick .color-header {
  border-bottom: 1px solid #F1F1F1;
  margin: 0 0 10px 0px;
  padding: 0 0 10px 0;
}

.color-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}

.color-header .color-text {
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  font-size: 15px !important;
  text-transform: unset !important;
}

.color-header .btn-color {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #FAFAFA;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-header .btn-color i {
  font-size: 15px;
}

.color-header .btn-color:hover {
  cursor: pointer;
  background-color: rgba(29, 97, 246, 0.1);
}

.colorPickButton {
  height: 50px;
  border-radius: 100px;
  width: 50px;
}

.modal.fade .modal-dialog-vertical {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.modal.fixed-right .modal-dialog-vertical {
  margin-left: auto;
}

.modal.fixed-right {
  padding-right: 0 !important;
}

.modal.show .modal-dialog-vertical {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal-dialog-vertical {
  height: 100% !important;
  max-width: 500px;
  margin: 0;
  position: relative;
  width: auto;
  pointer-events: none;
}

.modal-dialog-vertical .modal-content {
  height: 100%;
}

.modal-dialog-vertical .modal-content .modal-header {
  background-image: url("../images/modal-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 122px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: 65% 77%;
  border-bottom: 1px solid #ffffff;
}

.modal-dialog-vertical .modal-content .modal-header h5 {
  margin: 0 auto !important;
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: #000000;
  text-align: center;
}

.modal-dialog-vertical .modal-content .modal-body .modal-nav {
  padding: 0;
  margin: 0;
}

.modal-dialog-vertical .modal-content .modal-body .modal-nav li {
  padding: 8px 15px;
  display: block;
}

.modal-dialog-vertical .modal-content .modal-body .modal-nav li a {
  font-size: 18px;
  color: #727272;
  letter-spacing: 0;
  text-align: left;
}

.modal-dialog-vertical .modal-content .modal-body .modal-nav li a:active {
  color: #000000;
}

.modal-dialog-vertical .modal-content .modal-body .modal-nav li a:hover {
  color: #000000;
}

.modal-dialog-vertical .modal-content .modal-body .file-detail-info {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: inline-block;
}

.modal-dialog-vertical .modal-content .modal-body .file-detail-info li {
  display: block;
  float: left;
  line-height: 26px;
  padding: 8px 12px;
  font-size: 20px;
}

.modal-dialog-vertical .modal-content .modal-body .file-detail-info li.first-col {
  width: 30%;
  color: #727272;
}

.modal-dialog-vertical .modal-content .modal-body .file-detail-info li.second-col {
  width: 70%;
}

.modal-dialog-vertical .modal-content .modal-body .modal-top-area {
  margin-bottom: 30px;
}

.modal-dialog-vertical .modal-content .modal-body .profile-details {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog-vertical .modal-content .modal-body .profile-details .profile-img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  overflow: hidden;
}

.modal-dialog-vertical .modal-content .modal-body .profile-details .profile-img img {
  width: 100%;
}

.modal-dialog-vertical .modal-content .modal-body .profile-details .profile-name {
  padding: 0 10px;
}

.modal-dialog-vertical .modal-content .modal-body .profile-details .profile-name h3 {
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 0;
}

.modal-dialog-vertical .modal-content .modal-body .profile-details .profile-name p {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}

.middle-section-dashboard {
  padding-left: 300px;
}

.middle-section {
  margin-top: 108px;
  width: 100%;
  height: calc(100% - 108px);
}

.middle-section .middle-inner {
  padding: 20px 0;
  height: auto;
}

.middle-section .middle-inner .top-area {
  padding: 20px 0 10px 0;
}

.middle-section .middle-inner .top-area .text-label {
  min-width: 165px;
  padding: 10px 20px 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #727272;
  letter-spacing: 0;
  font-weight: 300;
  text-align: right;
}

.middle-section .middle-inner .top-area .page-heading h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 5px;
  line-height: 26px;
}

.middle-section .middle-inner .top-area .serach-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle-section .middle-inner .top-area .serach-bar .search-input-active {
  width: 100% !important;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background: #EDF1F7 !important;
}

.middle-section .middle-inner .top-area .serach-bar .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 0%;
  min-width: 50px;
  background: #EDF1F7 !important;
  border-radius: 6px;
}

.middle-section .middle-inner .top-area .serach-bar .input-group input[type=text] {
  width: 100%;
  min-width: 0px;
  -webkit-box-flex: 0 !important;
      -ms-flex: none !important;
          flex: none !important;
  padding-right: 50px;
  padding-left: 50px;
  border: 0;
  border-radius: 6px;
  border-radius: 6px;
  height: 50px;
}

.middle-section .middle-inner .top-area .serach-bar .input-group .search-left {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #727272;
  z-index: 6;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.middle-section .middle-inner .top-area .serach-bar .input-group .search-left i {
  font-size: 26px;
}

.middle-section .middle-inner .top-area .serach-bar .input-group input[type=text]:focus {
  width: 100%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background: #EDF1F7 !important;
}

.middle-section .middle-inner .top-area .serach-bar .input-group .input-group-append {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 5;
}

.middle-section .middle-inner .top-area .serach-bar .input-group .btn-search {
  padding: 0 10px;
  color: #727272;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0 !important;
}

.middle-section .middle-inner .top-area .serach-bar .input-group .btn-search i {
  font-size: 26px;
}

.middle-section .middle-inner .top-area .serach-bar .input-group .btn-search-close {
  color: #727272;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  color: #1D61F6;
  padding: 0;
  margin: 0;
  background-color: rgba(29, 97, 246, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.middle-section .middle-inner .top-area .serach-bar .input-group .btn-search-close i {
  position: relative;
  top: 2px;
  font-size: 20px;
}

.middle-section .middle-inner .top-area .serach-bar .input-group .btn-search-close:hover, .middle-section .middle-inner .top-area .serach-bar .input-group .btn-search-close:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.middle-section .middle-inner .top-area.top-area-border {
  border-bottom: 1px solid rgba(151, 151, 151, 0.4);
  margin: 0 0 15px 0;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .welcome-box {
  background-color: #ffffff;
  border: 1px solid #F1F1F1;
  -webkit-box-shadow: 6px 6px 14px 0 rgba(242, 242, 242, 0.4);
          box-shadow: 6px 6px 14px 0 rgba(242, 242, 242, 0.4);
  padding: 30px 40px;
  background-image: url("../images/welcome-box.png");
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 6px;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .welcome-box h3 {
  font-weight: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 15px;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .welcome-box p {
  width: 40%;
  font-size: 12px;
  color: #727272;
  letter-spacing: 0;
  line-height: 20px;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .welcome-box a {
  font-size: 14px;
  color: #1D61F6;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .welcome-box a .right-arrowicon.icon-14 {
  margin: 0px 0 0 15px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .welcome-box a:hover .right-arrowicon.icon-14 {
  margin: 0px 0 0 10px;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .avilable-box {
  background-color: #ffffff;
  border: 1px solid #F1F1F1;
  -webkit-box-shadow: 6px 6px 14px 0 rgba(242, 242, 242, 0.4);
          box-shadow: 6px 6px 14px 0 rgba(242, 242, 242, 0.4);
  padding: 30px 40px;
  border-radius: 6px;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .avilable-box .progress-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .avilable-box .progress-div p {
  font-weight: 600;
  font-size: 16px;
  color: #303030;
  letter-spacing: -0.6px;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .avilable-box .progress-div p span {
  font-weight: 300;
  font-size: 12px;
  color: rgba(114, 114, 114, 0.5);
  margin: 0 5px;
}

.middle-section .middle-inner .middle-area .dashbord-welcome-section .avilable-box .progress {
  height: 5px;
}

.middle-section .middle-inner .middle-area .folder-section .page-heading h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 5px;
  line-height: 26px;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box {
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  -webkit-box-shadow: 6px 6px 14px 0 rgba(242, 242, 242, 0.4);
          box-shadow: 6px 6px 14px 0 rgba(242, 242, 242, 0.4);
  border-radius: 6px;
  padding: 10px 12px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box:hover {
  -webkit-box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.07);
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-folder {
  position: relative;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-folder .online-circle {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  position: absolute;
  background-color: #45D13A;
  border: 2px solid #B4EDB0;
  right: 0;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .folder-icon {
  height: 34px;
  width: 34px;
  background: rgba(29, 97, 246, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .folder-icon i {
  font-size: 16px;
  color: #1D61F6;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-user .avatar-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-user .avatar-group .avatar:not(:last-child) {
  -webkit-mask-image: url(../images/avtar/avatar-group.svg);
  mask-image: url(../images/avtar/avatar-group.svg);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-user .avatar-group .avatar:not(:last-child) {
  -webkit-mask-image: url(../images/avtar/avatar-group.svg);
  mask-image: url(../images/avtar/avatar-group.svg);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-user .avatar-xs {
  width: 1.5rem;
  height: 1.5rem;
  font-size: .8rem;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-user .avatar-group .avatar + .avatar {
  margin-left: -.35rem;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-user .avatar {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  font-size: .8rem;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-user .avatar .avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-user .avatar .rounded-circle {
  border-radius: 50% !important;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-user .avatar .avatar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  border: 1px solid #FFFFFF;
  color: #727272;
  font-size: 12px;
  font-weight: 500;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-header .group-user .avatar::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-image: url(../images/avtar/), url(../images/avtar//avatar-group.svg), url(../images/avtar//avatar-group-hover.svg), url(../images/avtar//avatar-group-hover-last.svg);
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-body {
  position: relative;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-body h3 {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-body p {
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  margin: 0 0 10px 0;
}

.middle-section .middle-inner .middle-area .folder-section .folder-boxes .folder-box .folder-body p span {
  font-size: 10px;
}

.middle-section .middle-inner .middle-area .file-listing-section .page-heading h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 5px;
  line-height: 26px;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table table.dataTable thead th {
  font-size: 13px;
  color: #303030;
  letter-spacing: 0;
  text-align: left;
  font-weight: 500;
  border: 0;
  min-width: 85px;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table table.dataTable tbody tr {
  background-color: transparent;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table table.dataTable tbody tr td {
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  background-color: transparent;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .file-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  position: relative;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .file-icon img {
  width: 100%;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .file-icon span.active-color {
  height: 10px;
  width: 10px;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #50BEE8;
  border-radius: 100%;
  border: 2px solid #B4E1F4;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .user-icons {
  padding: 0 5px;
  display: inline-block;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .user-icons span {
  display: inline-block;
  padding: 0 5px;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .user-icons span i {
  font-size: 16px;
  color: #C8C8C8;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .dropdown {
  position: unset;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .dropdown .btn-default {
  padding: 0;
  color: #C8C8C8;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .dropdown .btn-default :focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .dropdown ul li {
  display: block;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .dropdown ul li a {
  display: inline-block;
  font-weight: 300;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td .dropdown .dropdown-menu {
  right: 0;
  left: auto;
  width: 160px;
  padding-left: 5px;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td {
  border: none;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table tbody tr td:last-child {
  width: 80px;
  text-align: center;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .listing-table td .dropdown .btn.btn-default {
  padding: 0px 0 0 0;
  line-height: 0px;
  margin: 2px 0 0 0;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .pagination li {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  margin: 0;
  padding: 0;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .pagination li a {
  font-size: 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .pagination li:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}

.middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table .no-footer.dataTable {
  border-color: #727272;
  border-bottom: none;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box {
  background-color: #ffffff;
  padding: 0px 12px 0 12px;
  position: relative;
  margin-bottom: 30px;
  border-radius: 6px;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .heart {
  color: #F7485A;
  position: absolute;
  right: 9px;
  top: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .heart i {
  font-size: 16px;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .heart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .img-container {
  padding: 20px;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .img-container .img-fluid {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 170px;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info h3 {
  font-size: 14px;
  color: #303030;
  letter-spacing: 0;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 98%;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info p {
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 0;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info-more .dropdown .btn-default {
  padding: 0;
  outline: 0;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  color: #C8C8C8;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info-more .dropdown .btn-default:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info-more .dropdown .btn-default i {
  width: 16px;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info-more .dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info-more .dropdown ul li {
  display: block;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info-more .dropdown ul li a {
  display: inline-block;
  font-weight: 300;
  padding: 3px 20px;
}

.middle-section .middle-inner .middle-area .file-listing-section .gridview .grid-box .gridbox-content .file-info-more .dropdown .dropdown-menu {
  right: 0;
  left: auto;
  width: 160px;
  padding-left: 5px;
}

.middle-section .middle-inner .middle-area .action-lsit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 7px 0px 12px rgba(0, 0, 0, 0.02);
          box-shadow: 7px 0px 12px rgba(0, 0, 0, 0.02);
  z-index: 1;
}

.middle-section .middle-inner .middle-area .action-lsit .action-left {
  margin-left: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-section .middle-inner .middle-area .action-lsit .action-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.middle-section .middle-inner .middle-area .action-lsit .action-left ul li {
  margin: 0;
  display: inline-block;
  line-height: 24px;
  list-style: none;
  float: left;
  list-style-type: none;
}

.middle-section .middle-inner .middle-area .action-lsit .action-left ul li:last-child a {
  border-right: 1px solid #f2f2f2 !important;
}

.middle-section .middle-inner .middle-area .action-lsit .action-left ul li a {
  font-size: 14px;
  color: #727272;
  display: inline-block;
  border: 1px solid #F2F2F2;
  border-right: 0 !important;
  padding: 8px 15px;
}

.middle-section .middle-inner .middle-area .action-lsit .action-left ul li a i {
  margin-right: 10px;
}

.middle-section .middle-inner .middle-area .action-lsit .action-left ul li a:hover {
  background-color: #F6F8FB;
  color: #000000;
}

.header .navbar .navbar-brand {
  margin-left: 15px;
}

.left-sidebar .left-sidebar-inner .upload-file {
  padding: 20px 30px;
}

.left-sidebar .left-sidebar-inner .upload-file .custom-file {
  margin: 0 0 25px 0 !important;
}

.left-sidebar .left-sidebar-inner .upload-file .custom-file-label {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
  min-height: 50px;
  border-radius: 6px;
  line-height: 32px;
}

.left-sidebar .left-sidebar-inner .navbar-left ul {
  max-height: calc(100vh - 294px);
  overflow-y: auto;
}

.left-sidebar .left-sidebar-inner .navbar-left ul li.nav-item a {
  padding: 10px 30px;
  color: #727272;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.left-sidebar .left-sidebar-inner .navbar-left ul li.nav-item a i {
  margin-right: 15px;
  color: #727272;
}

.left-sidebar .left-sidebar-inner .navbar-left ul li.nav-item a:hover {
  color: #000000;
  background-color: #F6F8FB;
}

.left-sidebar .left-sidebar-inner .navbar-left ul li.nav-item a:hover i {
  color: #1D61F6;
}

.left-sidebar .left-sidebar-inner .bottom-sidebar-div {
  padding: 12px 0;
  margin: 0;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F6F8FB;
  min-height: 60px;
  bottom: 0;
}

.left-sidebar .left-sidebar-inner .bottom-sidebar-div a.btnlink {
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  text-align: center;
  font-weight: 300;
  margin: 0 25px;
}

.left-sidebar .left-sidebar-inner .bottom-sidebar-div a.btnlink:hover {
  color: #1D61F6;
}

/*############################## end Home section ###############################*/
/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media (max-width: 767px) {
  #colorPick {
    position: absolute;
    left: 62px !important;
    right: auto !important;
  }
  .action-left {
    margin: 0 !important;
  }
  .action-left ul li a {
    margin: 0;
    padding: 8px 12px !important;
  }
  .action-left ul li a i {
    margin: 0 !important;
  }
  .action-left ul li a span {
    display: none;
  }
  .header .navbar {
    padding: 10px 0;
    background-color: #ffffff;
    z-index: 999;
  }
  .header .navbar .row-100 {
    width: 100%;
    margin: 0;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .row-100 .navbar-brand {
    width: 170px;
    height: auto;
  }
  .header .navbar .row-100 .navbar-brand img {
    width: 100%;
    min-width: 140px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar .col-header .col-70 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header .navbar .collapse1 {
    padding: 10px 0;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    color: #000000;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    color: #1D61F6;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link .m-block {
    display: inline-block;
    padding: 0 10px;
  }
  .header .navbar .user-drop-down .dropleft a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
  }
  .header .navbar .user-drop-down .dropleft a::before {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .header .navbar .user-drop-down .dropleft a .user-profile {
    padding: 0 0 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .navbar .user-drop-down .dropleft a .user-profile .user-info {
    display: none;
    padding: 0 15px;
    text-align: right;
  }
  .header .navbar .user-drop-down .dropleft a .user-profile .user-info h3 {
    font-size: 20px;
    margin: 0;
    line-height: 28px;
    font-weight: 600;
  }
  .header .navbar .user-drop-down .dropleft a .user-profile .user-info p {
    font-size: 14px;
    margin: 0;
    line-height: 24px;
  }
  .header .navbar .user-drop-down .dropleft a .user-profile .user-img {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    overflow: hidden;
  }
  .header .navbar .user-drop-down .dropleft a .user-profile .user-img img {
    width: 100%;
    border-radius: 100px;
  }
  .header .navbar .user-drop-down .dropleft .dropdown-menu {
    top: 70px;
    right: auto;
    left: -50px;
  }
  .header .navbar .user-drop-down .dropleft .dropdown-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .header .navbar .user-drop-down .dropleft .dropdown-menu ul li a {
    text-align: left;
    display: block;
  }
  .middle-section-dashboard {
    padding-left: 0px;
  }
  .middle-section {
    margin-top: 74px;
    width: 100%;
    height: calc(100% - 108px);
  }
  .middle-section .middle-inner {
    padding: 20px 0;
    height: auto;
  }
  .middle-section .middle-inner .top-area {
    padding: 30px 0 10px 0;
  }
  .middle-section .middle-inner .top-area .serach-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .middle-section .middle-inner .top-area .serach-bar .search-input-active {
    width: 100% !important;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background: #EDF1F7 !important;
  }
  .middle-section .middle-inner .top-area .serach-bar .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 100%;
    min-width: 50px;
    background: #EDF1F7 !important;
    border-radius: 6px;
  }
  .middle-section .middle-inner .top-area .serach-bar .input-group .search-left {
    display: block !important;
  }
  .middle-section .middle-inner .top-area .serach-bar .input-group .btn-search {
    display: none !important;
  }
  .middle-section .middle-inner .top-area .page-heading h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 26px;
  }
  .middle-section .middle-inner .top-area .serach-bar .input-group .btn-search {
    padding: 0 10px;
  }
  .middle-section .middle-inner .top-area .serach-bar .input-group .btn-search i {
    font-size: 26px;
  }
  .middle-section .middle-inner .middle-area {
    /*.dashbord-welcome-section{
    
                    .welcome-box {
                     
                    }
                    .avilable-box{
                   
                    }
                }*/
  }
  .middle-section .middle-inner .middle-area table.dataTable, .middle-section .middle-inner .middle-area table.dataTable th, .middle-section .middle-inner .middle-area table.dataTable td {
    white-space: nowrap;
  }
  .middle-section .middle-inner .middle-area .file-listing-section .page-heading h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 26px;
  }
  .middle-section .middle-inner .middle-area .file-listing-section .upload-lisitng-table table.dataTable {
    display: block;
    overflow-x: auto;
  }
  .left-sidebar {
    display: none;
  }
  /* Top header */
  .header .user-drop-down .dropleft .btn-default.dropdown-toggle {
    min-width: auto;
  }
  .header .user-drop-down .dropleft .btn-default.dropdown-toggle::before {
    display: none;
  }
  .header .dropdown-custom-top .dropdown-menu::before {
    left: 93px;
  }
  .header .dropdown-custom-top .dropdown-menu::after {
    left: 93px;
  }
  .header .navbar-nav-desktop {
    margin: 35px 0 0 0;
  }
  .header .searching-div-nav .searching-div {
    padding: 0 0px 0 0;
  }
  .header .searching-div-nav .searching-div .form-searching-group .display-none {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .searching-div-nav .searching-div .form-searching-group .btn-saerch {
    position: absolute;
    left: 0;
  }
  .header .searching-div-nav .searching-div .form-searching-group .btn-cancle {
    display: none;
  }
  .header li.nav-item.notification-group {
    width: 100%;
  }
  .header li.nav-item.notification-group .btn.btn-default {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6px 15px;
    margin: 0 0 15px 0;
  }
  .header li.nav-item.notification-group span.notifiaction-txt {
    margin: 0 0 0 10px;
  }
  .header li.nav-item.notification-group span.count-round {
    right: 25px;
    top: 10px;
    width: auto;
    border-radius: 7px;
    padding: 2px 6px 2px 6px;
  }
  .header .notification-dropdown-group {
    min-width: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0 0 0;
  }
  .header .notification-dropdown-group .dropdown-menu {
    min-width: 100%;
    left: auto;
    right: auto;
    padding: 0;
    position: relative;
    top: auto;
    margin: 0;
  }
  .header .notification-dropdown-group .dropdown-menu::after {
    display: none;
  }
  .header .notification-dropdown-group .dropdown-menu::before {
    display: none;
  }
  .header .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc p {
    font-size: 14px;
    line-height: 22px;
    max-width: 100%;
    -webkit-line-clamp: 1;
  }
  .header .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc span.time-span {
    position: relative;
    right: auto;
    bottom: 5px;
  }
  .header .left-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    top: auto;
    left: auto;
    height: auto;
  }
  .header .left-sidebar .left-sidebar-inner {
    margin-top: 0;
    height: auto;
    padding: 0;
  }
  .header .left-sidebar .left-sidebar-inner .upload-file {
    padding: 20px 30px 10px 30px;
    margin: 10px 0 10px 0;
    background-color: #f6f8fb;
  }
  .header .left-sidebar .left-sidebar-inner .bottom-sidebar-div {
    padding: 12px 0;
    margin: 0;
    position: relative;
  }
  .header .left-sidebar .left-sidebar-inner .navbar-left ul {
    max-height: 100%;
    overflow-y: inherit;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    color: #727272;
    padding: 8px 15px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-link.active {
    color: #000000 !important;
  }
  /* End of Top header */
}

@media (max-width: 320px) {
  .action-left {
    margin: 0 !important;
  }
  .action-left ul li a {
    margin: 0;
    padding: 6px 8px !important;
  }
  .action-left ul li a i {
    margin: 0 !important;
  }
  .action-left ul li a span {
    display: none;
  }
}

/* Landscape */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  .header .navbar {
    padding: 10px 0;
    background-color: #ffffff;
    z-index: 999;
  }
  .header .navbar .row-100 {
    width: 100%;
    margin: 0;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .row-100 .navbar-brand {
    width: 170px;
    height: auto;
  }
  .header .navbar .row-100 .navbar-brand img {
    width: 100%;
    min-width: 140px;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navbar .col-header .col-70 {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header .navbar .collapse1 {
    padding: 10px 0;
  }
  .header .navbar .collapse1 .navbar-nav {
    margin: 0 !important;
    display: inline-block;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    display: inline-block;
    width: 100%;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    color: #000000;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
    display: block;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    color: #1D61F6;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link .m-block {
    display: inline-block;
    padding: 0 10px;
  }
  .header .navbar .user-drop-down .dropleft a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
  }
  .header .navbar .user-drop-down .dropleft a::before {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .header .navbar .user-drop-down .dropleft a .user-profile {
    padding: 0 0 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .navbar .user-drop-down .dropleft a .user-profile .user-info {
    display: block;
    padding: 0 15px;
    text-align: right;
  }
  .header .navbar .user-drop-down .dropleft a .user-profile .user-info h3 {
    font-size: 20px;
    margin: 0;
    line-height: 28px;
    font-weight: 600;
  }
  .header .navbar .user-drop-down .dropleft a .user-profile .user-info p {
    font-size: 14px;
    margin: 0;
    line-height: 24px;
  }
  .header .navbar .user-drop-down .dropleft a .user-profile .user-img {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    overflow: hidden;
  }
  .header .navbar .user-drop-down .dropleft a .user-profile .user-img img {
    width: 100%;
    border-radius: 100px;
  }
  .header .navbar .user-drop-down .dropleft .dropdown-menu {
    top: 70px;
    right: auto;
    left: -50px;
  }
  .header .navbar .user-drop-down .dropleft .dropdown-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .header .navbar .user-drop-down .dropleft .dropdown-menu ul li a {
    text-align: left;
    display: block;
  }
  li.nav-item.notification-group span.count-round {
    padding: 2px 6px 2px 6px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav {
    margin: 0 !important;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
  .middle-section {
    margin-top: 108px;
    width: 100%;
    height: calc(100% - 108px);
  }
  .middle-section .middle-inner {
    padding: 20px 0;
    height: auto;
    /*.middle-area {
                .dashbord-welcome-section{
    
                    .welcome-box {
                     
                     
                    }
                    .avilable-box{
  
                    }
                }
            } */
  }
  .middle-section .middle-inner .top-area {
    padding: 30px 0 10px 0;
  }
  .middle-section .middle-inner .top-area .page-heading h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 26px;
  }
  .middle-section .middle-inner .top-area .serach-bar .input-group .btn-search {
    padding: 0 10px;
  }
  .middle-section .middle-inner .top-area .serach-bar .input-group .btn-search i {
    font-size: 26px;
  }
  li.nav-item.notification-group span.count-round {
    padding: 2px 6px 2px 6px;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/*====================================================================
============================ Right side menu not edit here =========
====================================================================== */
.sidenav-new-menu .closebtn {
  display: none;
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  #main {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 40%;
    display: block !important;
  }
  .closebtn {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
}

@media (max-width: 767px) {
  #main {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
    overflow: hidden;
    background-image: linear-gradient(45deg, #014AEA, #0281F6);
    opacity: 0.9;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: calc( 100% - 58px);
    display: block !important;
    min-height: 100%;
    margin: 0 !important;
    padding: 10px 0 0 0 !important;
  }
  .closebtn {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 32px;
    line-height: 32px;
    margin-left: 0;
    display: block;
    color: #1D61F6;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #main {
    -webkit-transition: margin-left .5s;
    transition: margin-left .5s;
    padding: 16px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 40%;
    display: block !important;
  }
  .closebtn {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #ED5C37;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block !important;
  }
}

/*====================================================================
============================ End Right side menu not edit here ========
====================================================================== */
/*# sourceMappingURL=custom.css.map */