@charset "UTF-8";
@import url(bootstrap.min.css);
@import url(animate.css);
@import url(font.css);
@import url(owl.theme.default.min.css);
@import url(owl.carousel.min.css);
@import url(feather.min.css);
@import url(jquery.dataTables.min.css);
@import url(dataTables.bootstrap4.min.css);
@import url(font-awesome.min.css);
@import url(colorPick.css);
@import url(colorPick.dark.theme.css);

$bgcolor: #F6F8FB;
$textcolor: #000000;
$fontsize: 18px;
$bg-tp: #ffffff00;

$color-white: #ffffff; 
$hover: #1D61F6;
$font-niva: 'Niva-Alt', sans-serif !important; 



.right-arrowicon { -webkit-mask: url(../images/icon/arrow_forward-24px.svg) no-repeat 50% 50%; mask: url(../images/icon/arrow_forward-24px.svg) no-repeat 50% 50%; -webkit-mask-size: contain; display: inline-block; vertical-align: middle; -webkit-mask-size: cover; mask-size: cover; width: 21px; height: 18px; color: #1D61F6; fill: #1D61F6; background-color: #1D61F6; margin: 0 0 0 10px; }
.right-arrowicon.icon-14 { width: 20px; height: 16px; margin: 4px 0 0 15px; }


/* Use the variables */
body {
    background-color: $bgcolor;
    color: $textcolor;
    font-size: $fontsize;
    font-family: 'Niva-Alt', sans-serif !important; 
    font-weight: normal;
  }
  
  /* end the variables */

  // header stareted

.header{
.row-100 {width: 100%; margin: 0;
.col-12 {padding: 0;}
}
.col-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .col-30 {
        width: 30%;
        flex: 0 0 30%;
        max-width: 30%;
        display: flex;
        align-items: center;
    }
    .col-70 {
        width: 70%;
        flex: 0 0 70%;
        max-width: 70%;
        display: flex;
        align-items: center;
        align-items: center;
    }
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: block;
    background-color: #ffffff;
    padding: 21px 0;
    box-shadow: 0 7px 12px rgba(0,0,0,.02);
    z-index: 999;
    .navbar-brand {
        width: 200px;
        height: auto;
        img {
            width: 100%;
        }
    }
    .navbar-toggler {
        color: $textcolor;
        padding: 0;
        outline: 0 !important;

        .navbar-toggler-icon {
            background-color: $bg-tp;
            background-image: url('../../assets/images/menubar.png');
            background-repeat: no-repeat;
            background-size: contain;
            height: 26px;
            width: 26px;
        }
    }
    // .navbar-toggler{
    //     position: absolute;
    //     right: 15px;
    //     top: 10px;
    // }
    .collapse1 {
        height: 100%;
        height: 100%;
        .navbar-nav { 
            .nav-item  {
                .nav-link {
                    color: $textcolor;
                    font-size: 14px;
                    line-height: 24px;
                    padding: 8px 18px;
                    letter-spacing: 0.12;
                    font-family: $font-niva;
                    &:hover {
                        color: $hover;
                    }
                }
                    .m-block {
                        display:  none;
                        padding: 0 10px;
                    }
                
                }
                .nav-link.active {
                    color: $hover !important;
                }
            }
            .nav-btn {
                .nav-link {
                display: block;
                background-color: #ED5C37;
                color: #ffffff;
                border-radius: 4px;
                transition: all 0.3s ease-in-out;
                    &:hover {
                        background-color: #f2f2f2;
                        color: #1D61F6;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
    .user-drop-down {
        margin-left: 10px;
        .dropleft{
            a{
                &::before {
                    transform: rotate(270deg); color: #D8D8D8; font-size: 24px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: none;
                outline: none;
                .user-profile{
                    padding: 0 0 0 20px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .user-info {
                        padding: 0 10px;
                        text-align: right;
                        h3 { font-size: 20px; margin: 0; line-height: 28px; font-weight: 300; color: #000; }
                        p { font-size: 14px; margin: 0; line-height: 24px; font-weight: 300; color: rgba(0, 0, 0, 0.5); }
                    }
                    .user-img {
                        margin: 0 10px;
                        height: 50px;
                        width: 50px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            border-radius: 100px;
                        }
                    }
                }
                
            }
            .dropdown-menu {
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li
                        {
                            a {
                                text-align: left;
                                display: block;
                            }
                        }
                }
                
            }
            .btn-default.dropdown-toggle{
                min-width: 300px;
            }
        }
    }

    /* header top changes */

    .dropdown-custom-top {
        .dropdown-menu { 
            &::after { content: ""; border-top: 10px solid #ffffff00; border-right: 10px solid #ddd0; border-bottom: 10px solid #ffffff; border-left: 10px solid #ffffff00; display: inline-block; position: absolute; top: -19px; left: 10px; }
            &:before { content: ""; border-top: 10px solid #ffffff00; border-right: 10px solid #ddd0; border-bottom: 10px solid #F1F1F1; border-left: 10px solid #ffffff00; display: inline-block; position: absolute; top: -20px; left: 10px; }
            top: 75px; right: auto; left: 0; background: #FFFFFF; border: 1px solid #F1F1F1; box-shadow: 6px 6px 14px 0 rgba(242,242,242,0.40); border-radius: 0px;
            a.dropdown-item { 
                font-size: 14px; color: #727272; letter-spacing: 0; line-height: 24px; font-weight: 300; padding: 6px 15px; 
                &:hover, &:focus, &:active{
                    color: #16181b;
                    text-decoration: none;
                    background-color: #f8f9fa;
                }
                .dropdown-item.active{ 
                    color: #16181b;
                    text-decoration: none;
                    background-color: #f8f9fa;
                }
            }
            hr { margin-top: 0; margin-bottom: 0; border: 0; border-top: 1px solid rgba(200, 200, 200, 0.4); padding: 0; margin: 10px 15px 5px 15px; }
        }
    }   

    .searching-div-nav { 
        padding: 0; margin: 0; width: 100%; display: flex; align-items: center; justify-content: center;
        .searching-div{ width: 100%; padding: 0 40px 0 0; }
        .form-group { display: flex; align-items: center; justify-content: flex-end; width: 100%; margin: 0 0 0 0 ;
            position: relative;
            .form-control.form-search { width: 100%; min-height: 50px; padding: 0 0px 0 55px; margin: 0; background-color: #F6F8FB; border-radius: 6px 0px 0px 6px; border: none;  transition: 0.8s;
                &:focus, &:hover{
                    border: none; box-shadow: none; outline: none;
                }
            }
            .btn-saerch { width: auto; min-height: 50px; padding: 0px 15px 5px 15px; margin: 0; background-color: transparent; border-radius: 0px 6px 6px 0px; border: none; display: inline-block; transition: 0.8s;
                img.searching-img { width: 100%; display: inline-block; }
                &:focus, &:hover{
                    border: none; box-shadow: none; outline: none;
                    .searching-img{ opacity: 1; }
                }
            }
            .btn-cancle {  width: 32px; min-height: 32px; padding: 0; margin: 0; background-color: rgba(29, 97, 246, 0.1); border-radius: 0px 6px 6px 0px; color: #1D61F6; border: none; display: inline-block; position: absolute; border-radius: 100%; font-size: 16px; right: 10px;  transition: 0.8s;
                &:focus, &:hover, &:active{
                    border: none; box-shadow: none; outline: none;
                }
            }   
            .display-none{ display: none; }
        }
        .form-searching-group.active{ 
            .display-none{ display: flex; justify-content: center; align-items: center; }
            .btn-saerch { position: absolute; left: 0;
            }
        }
        .searching-img{ opacity: 0.4; transition: 0.8s; }
    }

    .notification-dropdown-group{
        min-height: 66px; display: flex; align-items: center; min-width: 100px;
        ul { list-style: none; padding: 0; }
        .btn.btn-default{ position: relative; border: none; box-shadow: none; outline: none; transition: 0.8s;
            &:focus, &:hover{
                border: none; box-shadow: none; outline: none; 
                img.notification-icon{ opacity: 1; }
            }
        }
        .dropdown-toggle::before{ display: none; }
        span.count-round { padding: 0 0 2px 0; margin: 0; background-color: #1D61F6; height: 20px; width: 20px; border-radius: 100%; font-size: 11px; line-height: 11px; display: flex; align-items: center; justify-content: center; flex-direction: column; position: absolute; top: 0; color: #fff; right: 5px; border: 2px solid #FFFFFF; }
        
        .dropdown-menu{ 
            min-width: 385px; left: auto; right: 0; padding: 0;
            &::after { top: -19px; right: 63px; left: auto; }
            &:before { top: -20px; right: 63px; left: auto; }
        }

        .notification-box{  padding: 0; margin: 0; position: relative; 
            .notification-heading { padding: 12px 20px; margin: 0; border-bottom: 1px solid #F1F1F1; display: flex; align-items: center; 
                h3 { font-size: 16px; font-weight: 300; margin-bottom: 0; margin-top: 5px; line-height: 26px; padding: 0; margin: 0; color: #000000; }
            }            
            .notification-body{
                padding: 12px 20px; margin: 0; max-height: 420px; overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 5px;
                    height: 5px;
                }
                 
                &::-webkit-scrollbar-track {
                    background-color: rgba(0,0,0,0.1);
                    border-radius: 24px 24px;
                }
                 
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(255,255,255,0.8);
                    background-image: linear-gradient(45deg, #014AEA, #0281F6);
                    border-radius: 5px;
                }
                
              

                h5 { font-size: 12px; font-weight: 300; margin-bottom: 0; margin-top: 5px; line-height: 18px; padding: 0; margin: 0; color: #C8C8C8; }

                .row-day{  padding: 10px 0px 0 0; margin: 10px 0 10px 0; border-top: 1px solid #FAFAFA; 
                    &:first-child{  padding: 0px 0px 0 0; margin: 0px 0 0 0; border-top: 0px solid #FAFAFA;  }
                }

                .div-notification-list-row { 
                    .notificationlink{ padding: 10px 0px; display: flex; align-items: center; justify-content: center; background-color: #F6F8FB; border: 1px solid #F6F8FB; position: relative; margin: 10px 0 0 0; border-radius: 10px; }
                    .user-img{ padding: 0px 0px 0 10px; margin: 0; min-width: 50px; 
                        img.not-img { width: 40px; height: 40px; object-fit: cover; border-radius: 100%; border-radius: 100px; }
                    }
                    .notif-desc{ padding: 0px 0px; padding-left: 10px; margin: 0; width: calc(100% - 50px); 
                        p{ padding: 0px 0px; margin: 0; font-size: 16px; color: #303030; line-height: 24px; font-weight: 400; max-width: 180px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }
                        span.time-span { font-size: 10px; color: #727272; letter-spacing: 0; font-weight: 300; position: absolute; right: 10px; bottom: 13px; }
                    }
                }

            }
            .notification-footer{
                padding: 10px 20px; margin: 0; border-bottom: 1px solid #F1F1F1; display: flex; align-items: center;       justify-content: flex-end;   background-color: #F6F8FB;
                .btn.btn-gradiant.btn-achieved { min-height: 30px; font-size: 14px; color: #FFFFFF; text-align: center; font-weight: 500; 
                    &:focus, &:hover{ transform: none; }
                }
            }
        }

        img.notification-icon{ opacity: 0.4; transition: 0.8s; }

    }

    .navbar-nav-desktop{ 
        width: 100%; min-height: 66px; align-items: center;
        li.nav-item.searching-div-nav {
            justify-content: flex-end;
            align-items: center;
            min-height: 66px;
        }
    }

    /** End of changes  */

}

    
// left slide bar

.left-sidebar {
    display: block;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #ffffff;
    z-index: 9;
    .left-sidebar-inner{
    margin-top: 108px;
    height: auto;
    padding: 20px 0;
    box-shadow: 1px 0 0 0 rgba(200,200,200,0.13);
    .upload-file
    {
        padding: 20px;
        .custom-file {
            .custom-file-label {
                background-image: linear-gradient(225deg, #0281F6 0%, #014AEA 100%);
                font-size: 20px;
                color: #FFFFFF;
                letter-spacing: 0;
                text-align: center;
                font-weight: 500;
                &::after {
                    display: none;
                }
                &:hover {
                    cursor: pointer;
                }
             
            }

            .custom-file-input{
                &:hover {
                    cursor: pointer;
                } 
            }
            
        }
        
    }

    .navbar-left{
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li.nav-item {
                list-style: none;
                a{
                    font-size: 18px;
                    color: #303030;
                    font-weight: 400;
                    letter-spacing: 0;
                    line-height: 26px;
                    padding: 10px 20px;
                    display: block;
                    position: relative;
                    i {
                        margin-right: 10px;
                        color: #303030 ;
                    }
                }
                 a.active {
                    color: #000000;
                    background-color: #F6F8FB;;
                    i {
                        color: #1D61F6;
                    }

                    &::before{ content: ""; height: 16px; width: 2px; background-color: #1D61F6; display: inline-block; position: absolute; left: 0px; top: 15px; border-radius: 8px; }

                }
        }
    }

    }
}
}


/*############################## Home section ###############################*/
// helper class
.img-fluid {width: 100%;}

// page


a {text-decoration: none;
    &:hover {text-decoration: none;}
}
.form-control-transperant {background-color: transparent; border: 0;
    &:focus {background-color: transparent; border: 0;}
    box-shadow: none;
    outline: none;
}



.btn.btn-gradiant-sm {
    padding: 0 20px;
    margin: 0;
    border: 0px solid #1D61F6;
    background-image: linear-gradient(45deg, #014AEA, #0281F6);
    background-color: #1D61F6;
    color: #ffffff;
    min-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    border-radius: 6px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .btn.btn-gradiant-sm:hover, .btn.btn-gradiant-sm:focus {
    background-color: #1D61F6;
    -webkit-box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);
            box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);
    -webkit-box-shadow: 0 12px 24px 0 rgba(29, 97, 246, 0.3);
            box-shadow: 0 12px 24px 0 rgba(29, 97, 246, 0.3);
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }

// table css
.dataTables_wrapper .dataTables_paginate .paginate_button {padding: 0 2px;}
table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:after {right: 7px !important;}
.upload-lisitng-table .datatable-responsive thead > tr > th.sorting_asc, .upload-lisitng-table .datatable-responsive thead > tr > th.sorting_desc, .upload-lisitng-table .datatable-responsive thead > tr > th.sorting, .upload-lisitng-table .datatable-responsive thead > tr > td.sorting_asc, .upload-lisitng-table .datatable-responsive thead > tr > td.sorting_desc, .upload-lisitng-table .datatable-responsive thead > tr > td.sorting {padding-right: 25px !important;}
.file-listing-section .upload-lisitng-table table.dataTable tbody tr td {vertical-align: middle;}
.file-listing-section .upload-lisitng-table .datatable-responsive tbody tr td {margin-bottom: 0 !important;}
.file-listing-section .upload-lisitng-table .datatable-responsive tbody tr:hover td {background-color: #ffffff !important;cursor: pointer;}
.file-listing-section .upload-lisitng-table .datatable-responsive tbody tr td.first-col span {margin-left: 10px !important;}
.file-listing-section .upload-lisitng-table .datatable-responsive tbody tr td.second-col {font-weight: 600; color: #303030 !important;}
// checkbox

.custom-checkbox {
	.custom-control-label {
		&::before {
            color: #fff;
            border-color: #C8C8C8;
            background-color: transparent;
            border-radius: 0;
            height: 20px;
            width: 20px;
		}
	}
}


.custom-control-input {
	&:checked {
		& ~ .custom-control-label {
			&::before {
				color: #fff;
				border-color: #C8C8C8;
                background-color: transparent;
                border-radius: 0;
            }
		}
	}
}

.custom-checkbox {
	.custom-control-input {
		&:checked {
			& ~ .custom-control-label {
				&::after {
                    background-image: url('../images/check.png');
                    width: 50px;
                    height: 34px;
                    left: -36px;
                    top: -5px;
                    display: block;
				}
			}
		}
	}
}

////////////

.selected-color {
    position: relative;
    font-family: Feather!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    &:before {
        content: "";
        border: 2px solid #F1F1F1 !important;
        position: absolute;
        top: -4px;
        width: 56px;
        height: 56px;
        border-radius: 100px;
        left: -4px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    &:after {
        content: "\e92b";
        position: absolute;
        top: -4px;
        width: 56px;
        height: 56px;
        border-radius: 100px;
        left: -4px;
        font-size: 20px;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}
.picker {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-left: 10px;
    background-color: transparent !important;
    position: relative;
    top: 5px;
    i {
        color: #000000;
    }
   
}
#colorPick{
    width: 260px;
    background-color: #ffffff;
    display: inline-block;

    span {
        color: #727272;
    }
}

#colorPick {
    z-index: 9999;
    margin: 20px 0 0 0;
    border: 1px solid #F1F1F1;
    -webkit-box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.1);

        .text-right{padding: 10px 10px; margin: 0 -15px -15px -15px; background-color: #F1F1F1;};
  }
  
  #colorPick .color-header {
    border-bottom: 1px solid #F1F1F1;
    margin: 0 0 10px 0px;
    padding: 0 0 10px 0;
  }

.color-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    .color-text{
        width: 100%;
        text-align: left;
        padding: 5px 10px;
        font-size: 15px !important;
        text-transform: unset !important;
    }
    .btn-color {
        height: 30px;
        width: 30px;
        border-radius: 50px;
        background-color: #FAFAFA;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: 15px;
        }
        &:hover {
            cursor: pointer;
            background-color: rgba(29, 97, 246, 0.1);
        }
    }
}


.colorPickButton{
    height: 50px;
    border-radius: 100px;
    width: 50px;
}



///// picker-end
.modal.fade .modal-dialog-vertical {
    transform: translateX(100%);
    transition: transform .3s ease-out;

}
.modal.fixed-right .modal-dialog-vertical {
    margin-left: auto;
}
.modal.fixed-right {
    padding-right: 0!important;
}

.modal.show .modal-dialog-vertical {
    transform: translateX(0);
}

.modal-dialog-vertical {
    height: 100% !important;
    max-width: 500px;
    margin: 0;
    position: relative;
    width: auto;
    pointer-events: none;

    .modal-content{
        height: 100%;
        .modal-header
        {
            background-image: url('../images/modal-bg.png');    
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 122px;
            text-align: center;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            background-position: 65% 77%;

            h5
            {   margin: 0 auto !important;
                width: 100%;
                text-align: center;
                font-size: 28px;
                color: #000000;
                text-align: center;
            }
            border-bottom: 1px solid #ffffff;
        
        }

        .modal-body {
            .modal-nav { padding: 0; margin: 0;
             li {
                 padding: 8px 15px;
                 display: block;
                 a {
                    font-size: 18px;
                    color: #727272;
                    letter-spacing: 0;
                    text-align: left;

                    &:active {
                        color: #000000;
                    }
                    &:hover {
                        color: #000000;
                    }
                 }
             }
            }


            .file-detail-info {
                margin: 0;
                padding: 0;
                list-style: none;
                width: 100%;
                display: inline-block;
                li {
                    display: block;
                    float: left;
                    line-height: 26px;padding: 8px 12px;
                    font-size: 20px;
                }
                li.first-col {
                    width: 30%;
                    color: #727272;
                }
                li.second-col {
                    width: 70%;
                }
            }
            .modal-top-area {
                margin-bottom: 30px;
            }
            .profile-details{
                padding: 20px;
                display: flex;
                .profile-img{
                    height: 50px;
                    width: 50px;
                    border-radius: 100px;
                    overflow: hidden;
                    img {
                        width: 100%;
                    }
                }
                .profile-name{
                    padding: 0 10px;
                    h3 {
                        font-size: 20px;
                        color: #000000;
                        letter-spacing: 0;
                        margin-bottom: 0;
                    }
                    p{
                        font-size: 14px;
                        color: #000000;
                        letter-spacing: 0;

                    }
                }
            }
        }
    }
}




@mixin important-heading {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 26px;
}



// middle section start here

.middle-section-dashboard {
    padding-left: 300px;
}

.middle-section {
    margin-top: 108px;
    width: 100%;
    height: calc(100% - 108px);
    .middle-inner {
        padding: 20px 0;
        height: auto;
        .top-area{
            padding: 20px 0 10px 0;
            .text-label { min-width: 165px; padding: 10px 20px 0 0; font-size: 14px; line-height: 20px; color: #727272; letter-spacing: 0; font-weight: 300; text-align: right; }
            .page-heading {
                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    margin-bottom: 0;
                    margin-top: 5px;
                    line-height: 26px;
                }
            }
            .serach-bar {
                display: flex;
                justify-content: flex-end;
                .search-input-active {
                    width: 100% !important;
                    -webkit-transition: width 0.4s ease-in-out;
                    transition: width 0.4s ease-in-out;
                    background: #EDF1F7 !important;
                  }
                .input-group {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    -webkit-transition: width 0.5s ease-in-out;
                    transition: width 0.5s ease-in-out;
                    width: 0%;
                    min-width: 50px;
                    background: #EDF1F7 !important;
                    border-radius: 6px;
                    // &::after {
                    //     content: "";
                    //     height: 1px;
                    //     width: 100%;
                    //     border-bottom: 1px solid #727272;
                    //     position: absolute;
                    //     left: 0;
                    //     bottom: -12px;
                    // }
                    input[type=text] {
                        width: 100%;
                        min-width: 0px;
                        flex: none !important;
                       
                        padding-right: 50px;
                        padding-left: 50px;
                        border: 0;
                        border-radius: 6px;
                        border-radius: 6px;
                        height: 50px;
                      }

                      .search-left {
                          position: absolute;
                          top: 12px;
                          left: 12px;
                          color: #727272;
                          z-index: 6;
                          transition: all .2s ease-in-out;
                          i {
                            font-size: 26px;
                        }
                      }
                      
                     
                      input[type=text]:focus {
                        width: 100%;
                        -webkit-transition: width 0.4s ease-in-out;
                        transition: width 0.4s ease-in-out;
                        background: #EDF1F7 !important;
                      } 
                      
                      .input-group-append{
                          position: absolute;
                          right: 0;
                          top: 10px;
                          z-index: 5;
                      }
                    .btn-search{
                        padding: 0 10px;
                        color: #727272;
                        i {
                            font-size: 26px;
                        }
                        box-shadow: none !important;
                        outline: 0 !important;
                    }
                    .btn-search-close{
                        color: #727272;
                        width: 32px;
                        height: 32px;
                        border-radius: 100px;
                        color: #1D61F6;
                        padding: 0;
                        margin: 0;
                        background-color: rgba(29, 97, 246, 0.1);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                        i {
                            position: relative;
                            top: 2px;
                            font-size: 20px;
                        }
                        &:hover, &:focus{
                            outline: none; box-shadow: none;
                        }
                    }
                }
            }
        }

        .top-area.top-area-border{ 
            border-bottom: 1px solid rgba(151, 151, 151, 0.4);
            margin: 0 0 15px 0;
        }

        .middle-area {
            .dashbord-welcome-section{

                .welcome-box {
                    background-color: #ffffff;
                    border: 1px solid #F1F1F1;
                    box-shadow: 6px 6px 14px 0 rgba(242,242,242,0.40);
                    padding: 30px 40px;
                    background-image: url('../images/welcome-box.png');
                    background-size: inherit;
                    background-repeat: no-repeat;
                    background-position: right bottom;
                    border-radius: 6px;
                    h3 {
                        font-weight: 18px;
                        line-height: 26px;
                        font-weight: 600;
                        letter-spacing: 0;
                        margin-bottom: 15px;
                    }
                    p {
                        width: 40%;
                        font-size: 12px;
                        color: #727272;
                        letter-spacing: 0;
                        line-height: 20px;
                    }
                    a {
                        font-size: 14px;
                        color: #1D61F6;
                        letter-spacing: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start; transition: 0.9s;
                        .right-arrowicon.icon-14{
                            margin: 0px 0 0 15px; transition: 0.9s;
                        }
                        &:hover{
                            .right-arrowicon.icon-14{
                                margin: 0px 0 0 10px;
                            }
                        }
                    }
                }
                .avilable-box{
                    background-color: #ffffff;
                    border: 1px solid #F1F1F1;
                    box-shadow: 6px 6px 14px 0 rgba(242,242,242,0.40);
                    padding: 30px 40px;
                    border-radius: 6px;
                    .progress-div
                     {
                         display: flex;
                         justify-content: space-between;
                         p {
                            font-weight: 600;
                            font-size: 16px;
                            color: #303030;
                            letter-spacing: -0.6px;
                             span {
                                font-weight: 300;
                                font-size: 12px;
                                color: rgba(114, 114, 114, 0.5);
                                margin: 0 5px;
                             }
                         }
                     }
                     .progress{
                        height: 5px;
                    }
                }
            }


            .folder-section {
                .page-heading {
                  h3 {
                    @include important-heading;
                  }  
                }
            

                .folder-boxes {
                    .folder-box {
                        background: #FFFFFF;
                        border: 1px solid #F1F1F1;
                        box-shadow: 6px 6px 14px 0 rgba(242,242,242,0.40);
                        border-radius: 6px;     
                        padding: 10px 12px;
                        transition: 0.8s;
                        &:hover{ 
                            box-shadow: 0px 0px 24px 0 rgba(0, 0, 0, 0.07);
                        }
                        .folder-header {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 18px; 
                            .group-folder { position: relative;
                            .online-circle {
                                height: 10px;
                                width: 10px;
                                border-radius: 50px;
                                position: absolute;
                                background-color: #45D13A;
                                border: 2px solid #B4EDB0;
                                right: 0;
                            }
                            }
                            .folder-icon {
                                height: 34px;
                                width: 34px;
                                background: rgba(29,97,246,0.10);
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                i {font-size: 16px;
                                    color: #1D61F6;}
                            }
                            .group-user {
                                .avatar-group {
                                    display: inline-flex;
                                    .avatar {
                                        &:not(:last-child) {
                                            -webkit-mask-image: url(../images/avtar/avatar-group.svg);
                                            mask-image: url(../images/avtar/avatar-group.svg);
                                            -webkit-mask-size: 100% 100%;
                                            mask-size: 100% 100%;
                                        }
                                    }
                                }
                                .avatar-group .avatar:not(:last-child) {
                                    -webkit-mask-image: url(../images/avtar/avatar-group.svg);
                                    mask-image: url(../images/avtar/avatar-group.svg);
                                    -webkit-mask-size: 100% 100%;
                                    mask-size: 100% 100%;
                                }
                                .avatar-xs {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    font-size: .8rem;
                                }
                                .avatar-group .avatar+.avatar {
                                    margin-left: -.35rem;
                                }
                                .avatar {
                                    position: relative;
                                    display: inline-block;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    font-size: .8rem;
                                    .avatar-img {
                                        width: 100%;
                                        height: 100%;
                                        -o-object-fit: cover;
                                        object-fit: cover;

                                    }
                                    .rounded-circle {
                                        border-radius: 50%!important;
                                    }

                                    .avatar-title {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        width: 100%;
                                        height: 100%;
                                        background: #FAFAFA;
                                        border: 1px solid #FFFFFF;
                                        color: #727272;
                                        font-size: 12px;
                                        font-weight: 500;
                                    
                                    }
                                    &::after
                                    {
                                        content: "";
                                        position: absolute;
                                        width: 0;
                                        height: 0;
                                        background-image: url(../images/avtar/),url(../images/avtar//avatar-group.svg),url(../images/avtar//avatar-group-hover.svg),url(../images/avtar//avatar-group-hover-last.svg);

                                    }
                                }
                                
                            }
                        }

                        .folder-body {
                            position: relative;
                           h3 {
                            font-size: 16px;
                            color: #000000;
                            letter-spacing: 0;
                           } 

                           p{
                            font-size: 14px;
                            color: #727272;
                            letter-spacing: 0;
                            margin: 0 0 10px 0;
                            span {
                                font-size: 10px;
                            }
                           }
                        }
                    }
                }
            }


            // lisiting design

            .file-listing-section {
                .page-heading{
                    h3 {
                        @include important-heading;
                    }
                }

                .upload-lisitng-table {

                table.dataTable {
                        thead {
                            th {
                                    font-size: 13px;
                                    color: #303030;
                                    letter-spacing: 0;
                                    text-align: left;
                                    font-weight: 500;
                                    border: 0;
                                    min-width: 85px;
                                }
                        }
                        tbody { 
                            tr {
                                background-color: transparent;
                             td {font-size: 14px;
                                color: #727272;
                                letter-spacing: 0;
                                background-color: transparent;
                            }
                        }
                    }
                }

                .listing-table {
                    tbody {
                        tr {
                            td {
                                .file-icon{
                                    display: inline-block;
                                    height: 30px;
                                    width: 30px;
                                    position: relative;
                                    img { width: 100%; }
                                    span.active-color {  height: 10px; width: 10px; position: absolute; top: -5px; right: -5px; background-color: #50BEE8; border-radius: 100%; border: 2px solid #B4E1F4; }

                                }
                                .user-icons{
                                    padding: 0 5px;
                                    display: inline-block;
                                    span {
                                        display: inline-block;
                                        padding: 0 5px;
                                        i {
                                            font-size: 16px;
                                            color: #C8C8C8;
                                        }
                                    }
                                }
                            .dropdown {
                                position: unset;
                                .btn-default{
                                    padding: 0;
                                    color: #C8C8C8;
                                    box-shadow: 0;
                                    outline: 0;
                                    box-shadow: none;
                                    outline: none;

                                    :focus {
                                        box-shadow: none;
                                        outline: none;
                                    }
                                    
                                }
                                ul {
                                    list-style: none;
                                    padding: 0;
                                    margin: 0;
                                    li {
                                        display: block;
                                        a {
                                            display: inline-block;
                                            font-weight: 300;
                                        }
                                    }
                                }

                                .dropdown-menu {
                                    right: 0;
                                    left: auto;
                                    width: 160px;
                                    padding-left: 5px;
                                    
                                }
                        }
                    }

                    td {
                        border: none;
                        &:last-child {
                            width: 80px;
                            text-align: center;
                        }
                    }
                }
                    }
                    td{
                        .dropdown{
                            .btn.btn-default{
                                padding: 0px 0 0 0; line-height: 0px; margin: 2px 0 0 0;
                            }
                        }
                    }
                }

                .pagination{
                    li {
                        box-shadow: none !important;
                        outline: none !important;
                        margin: 0;
                        padding: 0;
                        a {
                            font-size: 14px;
                            box-shadow: none;
                            outline: none;

                        }

                        &:hover {
                            background-color: #ffffff;
                            border-color: #ffffff;
                        }
                    }
                }

                .no-footer.dataTable {
                    border-color: #727272;
                    border-bottom: none;
                }
            }
                .gridview{
                    .grid-box {
                        background-color: #ffffff;
                        padding: 0px 12px 0 12px;
                        position: relative;
                        margin-bottom: 30px;
                        border-radius: 6px;
                        .heart {
                            color: #F7485A;
                            position: absolute;
                            right: 9px;
                            top: 2px;
                            i {
                                font-size: 16px;
                            }
                            transition: all 0.3s ease-in-out;
                        &:hover {
                           
                            transform: scale(1.1);
                        }
                        }
                        .img-container {
                            padding: 20px;
                            border-bottom: 1px solid rgba(200, 200, 200, 0.5);
                            .img-fluid{
                                width: 100%;
                                object-fit: cover;
                                max-height: 170px;
                            }
                        }
                        .gridbox-content{
                            padding: 15px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            .file-info {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                h3 {
                                    font-size: 14px;
                                    color: #303030;
                                    letter-spacing: 0;
                                    font-weight: 600;
                                    line-height: 24px;
                                    margin-bottom: 0;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    width: 98%;
                                }
                                p{
                                    font-size: 14px;
                                    color: #727272;
                                    letter-spacing: 0;
                                    font-weight: 400;
                                    margin-bottom: 0;
                                }
                            }

                            .file-info-more {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: auto;
                               
                                .dropdown {
                                    .btn-default{
                                        padding: 0;
                                        outline: 0;
                                        box-shadow: 0;
                                        color: #C8C8C8;
                                        &:focus {
                                            box-shadow: none;
                                        }
                                    i {
                                        width: 16px;
                                    }
                                    }
                                 ul {
                                     list-style: none;
                                     padding: 0;
                                     margin: 0;
                                     li {
                                         display: block;
                                         a {
                                             display: inline-block;
                                             font-weight: 300;
                                             padding: 3px 20px;
                                         }
                                     }
                                 }
                                 .dropdown-menu {
                                     right: 0;
                                     left: auto;
                                     width: 160px;
                                     padding-left: 5px;
                                     
                                 }
                            }
                            }
                        }
                    }
                }
            }

            // action list
            .action-lsit {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: fixed;
                bottom: 0;
                right: 0;
                width: 100%;
                padding: 10px 20px;
                background-color: #ffffff;
                box-shadow: 7px 0px 12px rgba(0, 0, 0, 0.02);
                z-index: 1;

                .action-left {
                    margin-left: 300px;
                    display: flex;
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: block;
                       li {
                        margin: 0;
                        display: inline-block;
                        line-height: 24px;
                        list-style: none;
                        float: left;
                        list-style-type: none;
                        &:last-child {
                            a{
                                border-right: 1px solid #f2f2f2 !important;
                            }
                        }
                        a {
                            font-size: 14px;
                            color: #727272;
                            display: inline-block;
                            border: 1px solid #F2F2F2;
                            border-right: 0 !important;
                            padding: 8px 15px;
                           
                            i {
                                margin-right: 10px;
                            }

                            &:hover {
                                background-color: #F6F8FB;
                                color: #000000;
                            }
                        }
                        }
                    }
                }
            }

        }
    }

}

.header .navbar .navbar-brand { margin-left: 15px; }

.left-sidebar{
    .left-sidebar-inner{
        .upload-file{
            padding: 20px 30px;
            .custom-file{ margin: 0 0 25px 0 !important; }
            .custom-file-label { font-size: 20px; color: #FFFFFF; letter-spacing: 0; text-align: center; font-weight: 500; min-height: 50px; border-radius: 6px; line-height: 32px; }   
           
        }

        .navbar-left {
			ul {
                max-height: calc(100vh - 294px); overflow-y: auto;
				li.nav-item {
                    a { padding: 10px 30px; color: #727272; font-weight: 300; margin: 0 0 10px 0; 
                        i { margin-right: 15px; color: #727272; }

                        &:hover{
                            color: #000000;
                            background-color: #F6F8FB;
                            i { color: #1D61F6; }
                        }
                    }
				}
			}
        }
        
        .bottom-sidebar-div{ 
            padding: 12px 0; margin: 0; position: absolute; width: 100%; display: flex; align-items: flex-end; justify-content: center; background-color: #F6F8FB; min-height: 60px; bottom: 0;
            a.btnlink {  
                font-size: 14px;  color: #727272;  letter-spacing: 0;  text-align: center;  font-weight: 300;  margin: 0 25px;
                &:hover{ color: #1D61F6; }
            }
        }

    }
}



@media (min-width: 1130px) {
   
}

@media (min-width: 1920px) {
    
}


/*############################## end Home section ###############################*/




/*###########################################################################
############################## media query started ###############################
######################################################################################*/


@media (max-width: 767px) {

#colorPick {
    position: absolute;
    left: 62px !important;
    right: auto !important;
}

// fixed bootm action

.action-left {margin: 0 !important;
ul {
    li {
        a {
            margin: 0;
            padding: 8px 12px !important;
            i {
                margin: 0 !important;
            }
            span {
                display: none;
            }
        }
    }
}
}
    // page body for mobile
    
    
    .header{
            .navbar {
                padding: 10px 0;
                background-color: #ffffff;
                z-index: 999;
            .row-100 {
                width: 100%;
                margin: 0;
                .col-12 {
                    padding: 0 15px;
                }
                
               .navbar-brand {
                        width: 170px;
                        height: auto;
                        img {
                        width: 100%;
                        min-width: 140px;
                        }
                    }     
                 }

                 .col-header {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .col-30 {
                        width: 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                        display: flex;
                    }
                    .col-70 {
                        width: 50%;
                        flex: 0 0 50%;
                        max-width: 50%;
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row-reverse;
                    }
                }
    
                .collapse1 {
                    padding: 10px 0;
                    .navbar-nav { 
                        .nav-item  {
                            .nav-link {
                                color: $textcolor;
                                font-size: 16px;
                                line-height: 26px;
                                padding: 8px 12px;
                                font-weight: 500;
                                white-space: nowrap;
                                &:hover {
                                    color: $hover;
                                }

                                .m-block {
                                    display:  inline-block;
                                    padding: 0 10px;
                                }
                            
                            }
                        }
                    }
                } 

                .user-drop-down {
                    .dropleft
                    {
                        a{
                            &::before {
                                transform: rotate(270deg);
                            }
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: none;
                            outline: none;
                            .user-profile{
                                padding: 0 0 0 10px;
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;
                                .user-info {
                                    display: none;
                                    padding: 0 15px;
                                    text-align: right;
                                    h3 {
                                        font-size: 20px;
                                        margin: 0;
                                        line-height: 28px;
                                        font-weight: 600;
                                    }
                                    p {
                                        font-size: 14px;
                                        margin: 0;
                                        line-height: 24px;
                                    }
                                }
                                .user-img {
                                    margin: 0 10px;
                                    height: 40px;
                                    width: 40px;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                        border-radius: 100px;
                                    }
                                }
                            }
                           
                        }
                        .dropdown-menu {
                            top: 70px;
                            right: auto;
                            left: -50px;
                            ul {
                                padding: 0;
                                margin: 0;
                                list-style: none;
                                li
                                 {
                                     a {
                                         text-align: left;
                                         display: block;
        
                                     }
                                 }
                            }
                            
                        }
                    }
                }
                
            }
    }
    // home mobile
 
    .middle-section-dashboard {
        padding-left: 0px;
    }

    .middle-section {
        margin-top: 74px;
        width: 100%;
        height: calc(100% - 108px);
        .middle-inner {
            padding: 20px 0;
            height: auto;


          


            .top-area{

                padding: 30px 0 10px 0;
                // border-bottom: 1px solid #979797;

                .serach-bar {
                    display: flex;
                    justify-content: flex-end;
                    .search-input-active {
                        width: 100% !important;
                        -webkit-transition: width 0.4s ease-in-out;
                        transition: width 0.4s ease-in-out;
                        background: #EDF1F7 !important;
                      }
                    .input-group {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        -webkit-transition: width 0.5s ease-in-out;
                        transition: width 0.5s ease-in-out;
                        width: 100%;
                        min-width: 50px;
                        background: #EDF1F7 !important;
                        border-radius: 6px;
                        // &::after {
                        //     content: "";
                        //     height: 1px;
                        //     width: 100%;
                        //     border-bottom: 1px solid #727272;
                        //     position: absolute;
                        //     left: 0;
                        //     bottom: -12px;
                        // }
                    
                         .search-left {
                             display: block !important;
                         }
                         .btn-search {
                             display: none !important;
                         }
               
                      
                    }
                }
                .page-heading {
    
                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 0;
                        margin-top: 5px;
                        line-height: 26px;
                    }
                }
                .serach-bar {
                    .input-group {
                        .btn-search{
                            padding: 0 10px;
                            i {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
    
            .middle-area {
                /*.dashbord-welcome-section{
    
                    .welcome-box {
                     
                    }
                    .avilable-box{
                   
                    }
                }*/

                table.dataTable, table.dataTable th, table.dataTable td {
                    white-space: nowrap;
                }

                .file-listing-section {
                    .page-heading{
                        h3 {
                            @include important-heading;
                        }
                    }
    
                    .upload-lisitng-table {

                        table.dataTable{
                            display: block;
                            overflow-x: auto;
                          } 
                    } 
                }  
                
            }
        }
    }


    .left-sidebar {
        display: none;
    }
    
    // media query end


    /* Top header */

    .header {

        .user-drop-down {
            .dropleft {
                .btn-default.dropdown-toggle {
                    min-width: auto;
                    &::before{ display: none; }
                }

            }
        }

        .dropdown-custom-top {
            .dropdown-menu {
                &::before { left: 93px; }
                &::after { left: 93px; }
            }
        }

        .navbar-nav-desktop { margin: 35px 0 0 0; }
        
        .searching-div-nav .searching-div {
            padding: 0 0px 0 0;
            .form-searching-group{ 
                .display-none{ display: flex; justify-content: center; align-items: center; }
                .btn-saerch { position: absolute; left: 0; }
                .btn-cancle{ display: none; }
            }
        }

        li.nav-item.notification-group {
            width: 100%;
            .btn.btn-default{ width: 100%; display: flex; padding: 6px 15px; margin: 0 0 15px 0; }
            span.notifiaction-txt{ margin: 0 0 0 10px; }
            span.count-round{ right: 25px; top: 10px; width: auto; border-radius: 7px; padding: 2px 6px 2px 6px; }
        }
        
        .notification-dropdown-group {
            min-width: 100px; flex-direction: column; margin: 10px 0 0 0;
            .dropdown-menu {
                min-width: 100%; left: auto; right: auto; padding: 0; position: relative; top: auto; margin: 0; 
                &::after { display: none;  }
                &::before { display: none;  }
            }
            
            .notification-box {
                .notification-body {
                    .div-notification-list-row {
                        .notif-desc {
                            p { font-size: 14px; line-height: 22px; max-width: 100%; -webkit-line-clamp: 1; }
                            span.time-span{ position: relative; right: auto; bottom: 5px; }
                        }
                    }
                }
            }
        }
    
        .left-sidebar{ display: flex; position: relative; width: 100%; top: auto; left: auto; height: auto; 
            .left-sidebar-inner { margin-top: 0; height: auto; padding: 0; 
                .upload-file{
                    padding: 20px 30px 10px 30px; margin: 10px 0 10px 0; background-color: #f6f8fb;
                }
                .bottom-sidebar-div { padding: 12px 0; margin: 0; position: relative;}
                .navbar-left ul {
                    max-height: 100%;
                    overflow-y: inherit;
                }
            }
        }
        

        .navbar {
            .collapse1 {
                .navbar-nav {
                    .nav-item {
                        .nav-link{
                            color: #727272;    padding: 8px 15px;
                        }
                    }
                    
                    .nav-link.active {
                        color: #000000 !important;
                    }
                    
                }
            }
        }


    }

    /* End of Top header */



}

@media (max-width: 320px) {
    .action-left {margin: 0 !important;
        ul {
            li {
                a {
                    margin: 0;
                    padding: 6px 8px !important;
                    i {
                        margin: 0 !important;
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
    }

}

////////////////////////////////////////////////////// I pad ////////////////////////////////////////////////


/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {


    
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  }


/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .navbar-expand-md .navbar-toggler {
        display: block;
    }

    .header{
        .navbar {
            padding: 10px 0;
            background-color: #ffffff;
            z-index: 999;
        .row-100 {
            width: 100%;
            margin: 0;
            .col-12 {
                padding: 0 15px;
            }
            
           .navbar-brand {
                    width: 170px;
                    height: auto;
                    img {
                    width: 100%;
                    min-width: 140px;
                    
                    }
                }     
             }

             .col-header {
                display: flex;
                flex-direction: row;
                width: 100%;
                .col-30 {
                    width: 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    display: flex;
                }
                .col-70 {
                    width: 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row-reverse;
                }
            }

            .collapse1 {
                padding: 10px 0;
                .navbar-nav { 
                    margin: 0 !important;
                    display: inline-block;
                    .nav-item  {
                        display: inline-block;
                        width: 100%;
                        .nav-link {
                            color: $textcolor;
                            font-size: 16px;
                            line-height: 26px;
                            padding: 8px 12px;
                            font-weight: 500;
                            white-space: nowrap;
                            display: block;
                            &:hover {
                                color: $hover;
                            }

                            .m-block {
                                display:  inline-block;
                                padding: 0 10px;
                            }
                        
                        }
                    }
                }
            } 

            .user-drop-down {
                .dropleft
                {
                    a{
                        &::before {
                            transform: rotate(270deg);
                        }
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: none;
                        outline: none;
                        .user-profile{
                            padding: 0 0 0 10px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            .user-info {
                                display: block;
                                padding: 0 15px;
                                text-align: right;
                                h3 {
                                    font-size: 20px;
                                    margin: 0;
                                    line-height: 28px;
                                    font-weight: 600;
                                }
                                p {
                                    font-size: 14px;
                                    margin: 0;
                                    line-height: 24px;
                                }
                            }
                            .user-img {
                                margin: 0 10px;
                                height: 40px;
                                width: 40px;
                                overflow: hidden;
                                img {
                                    width: 100%;
                                    border-radius: 100px;
                                }
                            }
                        }
                       
                    }
                    .dropdown-menu {
                        top: 70px;
                        right: auto;
                        left: -50px;
                        ul {
                            padding: 0;
                            margin: 0;
                            list-style: none;
                            li
                             {
                                 a {
                                     text-align: left;
                                     display: block;
    
                                 }
                             }
                        }
                        
                    }
                }
            }
            
        }
}

li.nav-item.notification-group {
    span.count-round{ padding: 2px 6px 2px 6px; }
}



}
/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .header {
        .navbar {
            .collapse1 {
                .navbar-nav {    
                                 
                    margin: 0 !important; 
                    .nav-item {
                        .nav-link {
                            font-size: 12px;
                            line-height: 22x;
                            padding: 8px 10px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }  

    .middle-section {
        margin-top: 108px;
        width: 100%;
        height: calc(100% - 108px);
        .middle-inner {
            padding: 20px 0;
            height: auto;
            .top-area{
                padding: 30px 0 10px 0;
                // border-bottom: 1px solid #979797;
                .page-heading {
    
                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 0;
                        margin-top: 5px;
                        line-height: 26px;
                    }
                }
                .serach-bar {
                    .input-group {
                        .btn-search{
                            padding: 0 10px;
                            i {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
    
            /*.middle-area {
                .dashbord-welcome-section{
    
                    .welcome-box {
                     
                     
                    }
                    .avilable-box{
  
                    }
                }
            } */
        }
    }
    li.nav-item.notification-group {
        span.count-round{ padding: 2px 6px 2px 6px; }
    }
    
}





/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {


}





/*====================================================================
============================ Right side menu not edit here =========
====================================================================== */

.sidenav-new-menu .closebtn  {display: none;} 

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 

  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    
    #cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }
    #main {transition: margin-left .5s; padding: 16px; }
    .sidenav-new-menu { height: 100%; min-height: 830px; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #ffffff; padding: 20px 0px !important;
    flex-basis: auto; justify-content: flex-start; align-items: flex-start; }
    
    .width-menu {width: 40%; display: block !important;}
    .closebtn {display: block; color: #ED5C37; text-decoration: none;
        &:hover {
            display: block; color: #ED5C37; text-decoration: none;
        }
    }
    .sidenav-new-menu {
        .closebtn { position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px; display: block; }
    }
    
}



@media (max-width: 767px) {
    #main {transition: margin-left .5s; padding: 16px;}
    #cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999;     overflow: hidden; background-image: linear-gradient(45deg, #014AEA, #0281F6); opacity: 0.9; }
    .sidenav-new-menu { height: 100%; min-height: 830px; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #ffffff; padding: 20px 0px !important; 
    flex-basis: auto; justify-content: flex-start; align-items: flex-start;}    
    .width-menu { width: calc( 100% - 58px); display: block !important; min-height: 100%;     margin: 0 !important; padding: 10px 0 0 0 !important; }
    .closebtn {display: block; color: #ED5C37; text-decoration: none;
        &:hover {
            display: block; color: #ED5C37; text-decoration: none;
        }
    }
    .sidenav-new-menu {
        .closebtn { position: absolute; top: 5px; right: 15px; font-size: 32px; line-height: 32px; margin-left: 0; display: block; color: #1D61F6; }
    }
}

/* Portrait */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #main {transition: margin-left .5s; padding: 16px;}
    #cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background-color: rgba(0,0,0, 0.5); cursor: pointer; z-index: 2; display: none; z-index: 99999; }

    .sidenav-new-menu { height: 100%; min-height: 830px; width: 0; position: fixed; z-index: 1; right: 0; top: 0; overflow-y: auto; overflow-x: hidden; transition: 0.5s; z-index: 999999; background-color: #ffffff; padding: 20px 0px !important;
    flex-basis: auto; justify-content: flex-start; align-items: flex-start; }
    
    .width-menu {width: 40%; display: block !important;}
    .closebtn {display: block; color: #ED5C37; text-decoration: none;
        &:hover {
            display: block; color: #ED5C37; text-decoration: none;
        }
    }
    .sidenav-new-menu {
        .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px; display: block !important; }
    }
}


/*====================================================================
============================ End Right side menu not edit here ========
====================================================================== */