@font-face {
    font-family: 'Niva-Alt';
    font-weight: 200;
    font-display: swap;
    src: url(../fonts/niva-alt/Niva-Alt-Light.woff) format('woff'),
        url(../fonts/niva-alt/Niva-Alt-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Niva-Alt';
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/niva-alt/Niva-Alt-Book.woff) format('woff'),
        url(../fonts/niva-alt/Niva-Alt-Book.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Niva-Alt';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/niva-alt/Niva-Alt-Regular.woff) format('woff'),
        url(../fonts/niva-alt/Niva-Alt-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Niva-Alt';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/niva-alt/Niva-Alt-Medium.woff) format('woff'),
        url(../fonts/niva-alt/Niva-Alt-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Niva-Alt';
    font-style: bold;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/niva-alt/Niva-Alt-Bold.woff) format('woff'),
        url(../fonts/niva-alt/Niva-Alt-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Niva-Alt';
    font-style: bold;
    font-weight: 800;
    font-display: swap;
    src: url(../fonts/niva-alt/Niva-Alt-ExtraBlack.woff) format('woff'),
        url(../fonts/niva-alt/Niva-Alt-ExtraBlack.ttf) format('truetype');
}

@font-face {
    font-family: 'Niva-Alt';
    font-style: bolder;
    font-weight: 900;
    font-display: swap;
    src: url(../fonts/niva-alt/Niva-Alt-Black.woff) format('woff'),
    url(../fonts/niva-alt/Niva-Alt-Black.ttf) format('truetype');
}


@font-face {
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('BebasNeue'), local('BebasNeue-Regular'), url(../fonts/bebas_neue/BebasNeue-Regular.woff2) format('woff2');
}
