@charset "utf-8";
@import url(bootstrap.min.css);
@import url(animate.css);
@import url(font.css);
@import url(owl.carousel.min.css);
@import url(select2.min.css);
@import url(select-custom.css);
@import url(feather.min.css);


/* colors */

$transparent-color: transparent;

$white-color: #ffffff;
$light-white-color: rgba(255, 255, 255, 0.5);

$black-color:rgba(0, 0, 0, 1);
$lightblack-color:rgba(0, 0, 0, 0.4);

$blue-color: #1D61F6;
$lightblue-color: #1D61F6;
$darkblue-color: #1D61F6;

$blue-gradiant1:#0281F6;
$blue-gradiant2:#014AEA;

$subblue-gradiant1:#3E9AFB;
$subblue-gradiant2:#1553DA;

$red-color: #F7485A;

$red-gradiant1:#FC7E93;
$red-gradiant2:#FC2F44;


$sub-color1:#727272;
$sub-color2:#303030;
$sub-color3:#1EE5D0;
$sub-color4:#FAFAFA;
$sub-color5:#F2F2F2;
$sub-color6:#FFFDF5;
$sub-color7:#F8F8F8;


/* End of colors */

/* default css */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-overflow-scrolling: touch; }
html { text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100%; scroll-behavior: smooth; }
body { font-size: 14px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: $white-color; font-family: 'Niva-Alt', sans-serif !important; scroll-behavior: smooth; }

.wrapper { background-color: $white-color; display: block; height: 100%; }
.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }

.container { max-width: 1280px; }
.page-link:focus { box-shadow: none; }

/* End of default css */





/*  general css */

.white-color{ fill: $white-color; }

.top-minues10{ margin-top: -10px !important; }
.ml-10{ margin-left: 10px !important; }
.mt-10{ margin-top: 10px !important; }
.pt-3{ padding-top: 3px !important; }
.p0{ padding: 0px !important; }
.pt-90{ padding-top: 90px !important; }
.pt-55{ padding-top: 55px !important; }

.mr-10{ margin-right: 10px; }

.maxfitcontent{  width: fit-content; }

a {
    color: $blue-color; &:hover{ color: $blue-color; }
}

.opacity0{  display: none; }

.right-arrowicon {
    -webkit-mask: url(../images/icon/arrow_forward-24px.svg) no-repeat 50% 50%;
    mask: url(../images/icon/arrow_forward-24px.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    display: inline-block;
    vertical-align: middle;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 21px;
    height: 18px;
    color: #1EE5D0;
    fill: #1EE5D0;
    background-color: #1EE5D0;
    margin: 0 0 0 10px;
}

.link-btn2{
    &:hover, &:focus{ 
        text-decoration: none; outline: none; box-shadow: none; color: $sub-color1;
        .black-500{ color: $blue-color; }
    }
}

.btn.btn-blue{ 
    padding: 0 30px; margin: 0; border: 1px solid $blue-color; background-color: $blue-color; color: $white-color; min-height: 45px; display: flex; align-items: center; justify-content: center; font-weight: 800; font-size: 16px; transition: all 0.5s;
    &:hover, &:focus{ 
        // border: 1px solid $lightblue-color; background-color: $lightblue-color; box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);
    }
}

.btn-view{ 
    font-size: 26px; color: $white-color; letter-spacing: 0; font-weight: 700; text-decoration: none; outline: none; background-color: $transparent-color; padding: 10px; margin: 0; min-height: 60px; line-height: 36px; display: inline-block; transition: all 0.5s;
    .right-arrowicon{ margin: -2px 0 0 30px; transition: all 0.5s; transform: rotate(90deg); }
    &:hover, &:focus {
        text-decoration: none; color: #1EE5D0;
        .right-arrowicon{ margin: -2px 0 0 20px; }
    }
    &.collapsed{
        .right-arrowicon{
            transform: rotate(0deg);
        }
    }
}

.btn.btn-default{ 
    padding: 0 30px; margin: 0; background: #FAFAFA; min-height: 60px; border: 1px solid #F2F2F2; box-shadow: 0 12px 24px 0 #F2F2F2; border-radius: 10px; font-size: 21px; color: #25143F; text-align: center; width: 100%; border-radius: 6px; transition: all 0.8s;
    &:hover, &:focus{ 
        box-shadow: 0 12px 24px 0 #F2F2F2; transform: translateY(-3px);
    }
}

.btn-disabled{
    &:disabled{
        background-image:none !important;
        background-color: #C8C8C8 !important;
        opacity: .5;
        box-shadow: none !important;
    }
    &:hover{
        box-shadow: none !important;
    }
}

.btn.btn-gradiant{ 
    padding: 0 20px; margin: 0; border: 0px solid $blue-color; background-image: linear-gradient(45deg, $blue-gradiant2,  $blue-gradiant1);  background-color: $blue-color; color: $white-color; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: 500; font-size: 21px; line-height: 30px; border-radius: 6px; transition: all 0.8s;
    &:hover, &:focus{ 
        background-color: $lightblue-color;box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);box-shadow: 0 12px 24px 0 rgba(29,97,246,0.30); transform: translateY(-3px);
    }
}

.btn-red-gradiant{ 
    padding: 0 20px; margin: 0; border: 0px solid $blue-color; background-image: linear-gradient(45deg, $blue-gradiant2,  $blue-gradiant1);  background-color: $blue-color; color: $white-color; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: 500; font-size: 21px; line-height: 30px; border-radius: 6px; transition: all 0.8s;
    &:hover, &:focus{ 
        background-color: $lightblue-color;box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);box-shadow: 0 12px 24px 0 rgba(29,97,246,0.30); transform: translateY(-3px);
    }
}

.btn.btn-gradiant{ 
    padding: 0 20px; margin: 0; border: 0px solid $blue-color; background-image: linear-gradient(45deg, $blue-gradiant2,  $blue-gradiant1);  background-color: $blue-color; color: $white-color; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: 500; font-size: 21px; line-height: 30px; border-radius: 6px; transition: all 0.8s;
    &:hover, &:focus{ 
        background-color: $lightblue-color;box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);box-shadow: 0 12px 24px 0 rgba(29,97,246,0.30); transform: translateY(-3px);
    }
}

.btn.btn-gradiant2{ 
    padding: 0 0 0 0px; margin: 0; border: 0px solid $blue-color; background-image: linear-gradient(45deg, $blue-gradiant2,  $blue-gradiant1);  background-color: $blue-color; color: $white-color; min-height: 50px; display: flex; align-items: center; justify-content: flex-start; font-weight: 500; font-size: 21px; line-height: 30px; border-radius: 6px; transition: all 0.8s; 
    .text-btn{ padding: 0 40px; width: calc( 100% - 50px ); text-align: left; }
    span.arrow-btn-span { display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; transform: scaleX(-1); background-image: linear-gradient(-44deg, #014AEA 0%, #0281F6 100%); border-radius: 6px 0px 0px 6px; color: $sub-color3; }
    &:hover, &:focus{ 
        background-color: $lightblue-color;box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4); box-shadow: 0 12px 24px 0 rgba(29,97,246,0.30);transform: translateY(-3px);

    }
}

.btn.btn-red-gradiant{ 
    padding: 0 20px; margin: 0; border: 0px solid $blue-color;  background-image: linear-gradient(225deg, $red-gradiant1 0%, $red-gradiant2 100%); background-color: $blue-color; color: $white-color; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: 500; font-size: 21px; line-height: 30px; border-radius: 6px; transition: all 0.8s;
    &:hover, &:focus{ 
        background-color: $lightblue-color;box-shadow: 0 3px 15px 0 rgba(0, 153, 255, 0.4);box-shadow: 0 12px 24px 0 rgba(29,97,246,0.30); transform: translateY(-3px);
    }
}


.btn.common-btn{ 
    padding: 0 20px; margin: 0; border: 0px solid $blue-color; background-color: $black-color; color: $light-white-color; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: 400; font-size: 16px; line-height: 30px; border-radius: 6px; transition: all 0.8s;
    &:hover, &:focus{ 
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);transform: translateY(-3px);
    }
}

.btn.facebook-btn{ 
    margin: 0 0 20px 0;  background-color: #3B5998; color: rgba(255, 255, 255, 0.9); 
    &:hover, &:focus{ 
        box-shadow: 0 3px 15px 0 rgba(59, 88, 152, 0.4); transform: translateY(-3px);
    }
   .icon-i{ padding: 0 0 0 20px; }
}

.btn.twitter-btn{ 
    margin: 0 0 0px 0; background-color: #55ACEE; color: rgba(255, 255, 255, 0.9); 
    &:hover, &:focus{ 
        box-shadow: 0 3px 15px 0 rgba(59, 88, 152, 0.4)
    }
   .icon-i{ padding: 0 0 0 20px; }
}

.btn-submit-login{
    padding: 0 0 0 0px; margin: 0; border: 0px solid #D6D6D6;  background-color: rgba(214, 214, 214, 0.5); color: $black-color; min-height: 50px; display: flex; align-items: center; justify-content: center; font-weight: 500; font-size: 14px; line-height: 30px; border-radius: 6px; transition: all 0.8s; 
    &:hover, &:focus{ 
        background-color: rgba(214, 214, 214, 0.5);box-shadow: 0 3px 15px 0 rgba(214, 214, 214, 0.4); transform: translateY(-3px);
    }
}

/* checkbox */

.form-checkbox-outline
{
    -webkit-appearance: none; position: relative;
    -moz-appearance: none; appearance: none; display: inline-block; position: relative; background-color: transparent; background: #ffffff; border: 2px solid #979797; color: #666; top: 2px; height: 17px; width: 17px; border-radius: 4px; margin-right: 5px; outline: none;
    &:checked::before { position: absolute; font-size: 15px; left: 1px; top: -5px; content: '\02143'; transform: rotate(40deg); color: #979797; z-index: 2; font-weight: 700; }
    // &:hover{ background-color: #003EC4; }
    // &::checked{  background-color: #003EC4; }
}

.form-checkbox
{
    -webkit-appearance: none; position: relative;
    -moz-appearance: none; appearance: none; display: inline-block; position: relative; background-color: transparent; background: #0049E9; border: 2px solid #003EC4; color: #666; top: 2px; height: 20px; width: 20px; border-radius: 0; margin-right: 15px; outline: none;
    &:checked::before { position: absolute; font-size: 16px; left: 4px; top: -12px; content: '\02143'; transform: rotate(40deg); color: #ffffff; z-index: 2; }
    // &:hover{ background-color: #003EC4; }
    // &::checked{  background-color: #003EC4; }
}


/* End of checkbox */


.max3-lines{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.text-indent-195px { text-indent: 195px; }

.return-to-top { 
    position: fixed; bottom: 25px; right: 25px;     background-image: linear-gradient(45deg, #014AEA, #0281F6); background-color: $blue-color; width: 50px; height: 50px; text-decoration: none; -webkit-border-radius: 35px; -moz-border-radius: 35px; border-radius: 35px; display: none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; z-index: 999; 
    i { color: $white-color; margin: 0; position: relative; left: auto; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; font-size: initial; transition: all 0.8s; }
   
    &:hover { 
        box-shadow: 0 0px 30px 0 rgba(29, 97, 246, 0.3); transform: translateY(-3px);    
        i { color: $white-color; }
    }
}   


.display_show{ display: block; }
.maxwidth-350{ max-width: 350px; }

/* select2 */

/* select box */

.select-box{ 
    position: relative; display: flex; align-items: center; 
}
.form-control.select-control { border: 1px solid $sub-color3; border-radius: 0px; min-height: 50px; color: $sub-color1; padding: 0 20px; font-size: 18px; font-weight: 400; width: 100%; -webkit-appearance: none; background: $sub-color2; position: relative; }
.form-control.select-control:focus{ outline: none; box-shadow:none; }

.updown-arrowicon{  -webkit-mask: url(../images/icon/arrow-up-down.svg) no-repeat 50% 50%; mask: url(../images/icon/arrow-up-down.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: cover;  width: 24px; height: 40px;  color: $lightblack-color;  fill:  $lightblack-color;  background-color: $lightblack-color;  margin: 0 10px 0 0; transition: 0.5s; position: absolute; right: 0; }
.right-arrowicon{  -webkit-mask: url(../images/icon/arrow_forward-24px.svg) no-repeat 50% 50%; mask: url(../images/icon/arrow_forward-24px.svg) no-repeat 50% 50%; -webkit-mask-size: contain;  display: inline-block;  vertical-align: middle;  mask-size: cover;  width: 21px; height: 18px;  color: #1EE5D0;  fill: #1EE5D0;  background-color: #1EE5D0; margin: 0 0 0 10px; }

.down-arrowicon{ content: ""; -webkit-mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%; mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%; -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 24px; height: 24px; background-color: $blue-color; position: absolute; right: 10px; transform: rotate(0deg); }

/* End of select box */

/* select2 */

.select-custom2{ 
    span.select2-selection.select2-selection--single { border: 1px solid transparent !important; border-radius: 0px; min-height: 40px; color: #3C454C; padding: 10px 10px; font-size: 18px; font-weight: 400; width: auto; -webkit-appearance: none; background: transparent; position: relative; border-radius: 10px; }
    .select2.select2-container .select2-selection .select2-selection__arrow { -webkit-border-radius: 0 0px 0px 0; -moz-border-radius: 0 0px 0px 0; border-radius: 
        0 0px 0px 0; height: 47px; width: 37px; background-color: transparent; border: none; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b{     border: none; top: 15px; left: 10px;
        &::before{ content: ""; -webkit-mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%; mask: url(../images/icon/keyboard_arrow_up.svg) no-repeat 50% 50%; -webkit-mask-size: cover; display: inline-block; vertical-align: middle; mask-size: cover; text-align: center; width: 24px; height: 24px; background-color: $lightblack-color; transform: rotate(180deg);  }        
    }
}
.select2-container .select2-dropdown .select2-search input { outline: none; border: 1px solid #DFEAF1; border-bottom: none; padding: 10px 10px; }
.select2-container .select2-dropdown .select2-results ul { background: #fff; border: 1px solid #DFEAF1; }
.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] { background-color: #F1F6FF; color: #727272; }
.select2-results__option { padding: 10px; color: #727272;  }
.select2-container .select2-dropdown { background: transparent; border: none; margin-top: 15px; border: 1px solid #FAFAFA; box-shadow: 0 5px 14px 0 #F2F2F2; border-radius: 10px; }
.select2-results__option:first-child{ border-radius: 10px 10px 0px 0px;  }
.select2-results__option:last-child{ border-radius: 0px 0px 10px 10px ;  }
.select2-container .select2-dropdown .select2-results ul {  border: none; border-radius: 10px; }
.select2-container--default .select2-results__option[aria-selected=true] { background-color: #F1F6FF; }
.select2.select2-container .select2-selection .select2-selection__rendered { color: #1D61F6; line-height: 32px; padding-right: 50px; }

/* end of select2 */


/*  End of general css */

/* header */

header.header-home{
    position: relative;

    .header-div.scrollUp { transform: translateY(-108px); background-color: $white-color; }

    .fixed_top.header-div{

        .top-nav1 { padding: 10px 0 20px 0; }
        .ullist-inline li .nav-link{ color: #00A685; }
        .scroll-logo{ display: block; }
        
    }
    
    .header-div.header-bgcolor { 

        padding: 0; margin: 0; background-color: $white-color; position: fixed; z-index: 9999; width: 100%; min-height: 75px; transition: all 0.5s; top: 0; left: 0; 
        
        .logo_img { width: 200px; }
        .logo-div { min-height: 85px; }
        .nav-center-div{ min-height: 75px; }
        .header-right-div{ min-height: 75px; }
        

    } 

    .header-div { 

        padding: 0; margin: 0; background-color: $white-color; position: relative; z-index: 9999; width: 100%; min-height: 108px;  transition: all 0.5s;

        .logo-div { padding: 0px 0px 0px 0px; margin: 0; display: flex; float: left; width: 20%; align-items: center; min-height: 108px; }
        .nav-center-div{ padding: 15px 0px 15px 0px; margin: 0; display: flex; float: left; width: 80%; align-items: center; justify-content: flex-end; min-height: 108px; }
        
        .main-logo{ display: block; }
        .logo_img{ transition: display ease-in-out 0.5s; width: 220px; }
        
        /* start navigation  **/

        .top-nav1 { display: flex; justify-content: flex-end; align-items: center; padding: 0px 0 0 0; width: 100%;  }
        .inner-top-header-div{ padding: 0;margin: 0;box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.08); }
        .inner-top-header-div.top-nav1 { padding: 0; margin: 0; float: right; }

        .cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: $blue-color; cursor: pointer; z-index: 99999; display: none; }
        .cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }

        .display-none{ display: none !important; }
        .nav-div .closebtn { display: none; }

        .ullist-inline { 
            padding: 0 0 2px 0; margin: 10px 0px 0 0; display: flex; align-items: center; min-height: 50px; 
                
            li{ padding: 0;margin: 0 35px 0 0;display: inline-block;text-transform: capitalize;font-size: 14px; }
            li.nav-item.dropdown.btn-user-dropdown { margin: 0; }
            li:last-child{ margin: 0 0 0 0; }
            li .nav-link { color: $sub-color1; padding: 0px 0px 3px 0; font-weight: 300; border-bottom: 1px solid transparent; font-size: 21px; line-height: 1.5; }
            li .nav-link { position: relative; display: inline-block; overflow: hidden; }
            li .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: $blue-color; transform: translateX(-101%); }
            li .nav-link:hover:before { transform: translateX(0); }
            li .nav-link:before, li .nav-link:after, li .nav-link > span:before, li .nav-link > span:after { content: ''; position: absolute; transition: transform .5s ease; }
            li .nav-link:hover{ color:$blue-color; }
            li.active .nav-link{ color: $blue-color; }
            li.active .nav-link:before { left: 0px; bottom: 0; width: 100%; height: 1px; background: $blue-color; transform: translateX(0%); }
           
        }

        .nav-m-bar .menu-bars {display: none;}
        
        /*  End of navigation  */

    }

}

/* End of header */

/* banner */

.banner-section{  
    padding: 0; margin: 0; position: relative; 

    .banner-div{ 
        padding: 0; margin: 0; position: relative; background-color: $white-color; min-height: calc( 100vh - 108px ); display: flex; align-items: center; overflow: hidden;

        .bannerleft-6 { padding: 0; }
        .bannerright-6{ padding: 0; }

        .height-100{ 
            height: calc( 100vh - 108px); display: flex; align-items: center; 
            .content-banner h1{ text-align: left; }
        }

        .content-banner{ 
            padding: 0; margin: 0; display: flex; align-items: center; justify-content: flex-end; position: relative; width: 100%;

            .text-content{ max-width: 620px; padding: 0 25px; }

            h1{ padding: 0; margin: 0 0 50px 0; color: $black-color; font-size: 50px; font-weight: 700; line-height: 60px; }
            p{ padding: 0; margin: 0 0 30px 0; color: $sub-color1; font-size: 21px; line-height: 30px; font-weight: 300;  }
            .span-block{ display: block; }
     
        }

        .dropbox-right{
            padding: 0; margin: 0 auto; width: 100%; position: relative; height: 100%; display: flex;
            .img-fluid.bg-pattern{ width: 100%; height: calc( 100vh - 108px); object-fit: cover; background-color: #014AEA; position: absolute; top: 0; right: 0; z-index: 1; opacity: 0.4; }
        }

    }

}

.dropbox-center-div { width: 100%; z-index: 2;
    .drag-drop-center{ display: flex; justify-content: center; align-items: center; height: 100%;
        form.dropzone { max-width: 460px; min-height: 460px; max-height: calc(100vh - 118px); overflow-y: auto; width: 100%; background: #FFFFFF; box-shadow: 0 15px 42px 0 rgba(199, 198, 198, 0.2); border-radius: 10px; border: none;
            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }
             
            &::-webkit-scrollbar-track {
                background-color: rgba(0,0,0,0.1);
                border-radius: 24px 24px;
            }
             
            &::-webkit-scrollbar-thumb {
                background-color: rgba(255,255,255,0.8);
                background-image: linear-gradient(45deg, #014AEA, #0281F6);
                border-radius: 5px;
            }
            
            &::-webkit-scrollbar-corner {
            
            }
            

            .dz-preview { background: #F7F7F8; width: 100%; min-height: 60px; max-height: 60px; padding: 0; display: flex; align-items: center; margin: 0 0 0px 0 !important;    border: none; }
            .dz-image { display: none; height: 60px !important; width: 60px !important; border-radius: 0px !important; background-color: #eee !important; }
            a.dz-remove { 
                position: absolute; top: 0; right: 10px; z-index: 33; color: $blue-color !important; background-color: transparent !important; background: none !important; height: 60px; vertical-align: top; display: flex; align-items: center; justify-content: center; margin: 0; font-size: 24px; cursor: pointer;
                i{ cursor: pointer; }
                &:hover{
                    text-decoration: none;
                }
            }
            .dz-preview .dz-details {     background-color: transparent; width: 100% !important; text-align: left; margin: -10px 0 0 0 !important; padding: 0 10px !important; height: 100% !important; display: flex; min-height: 30px; vertical-align: top; opacity: 1; }
            
            
        }
        .dropzone-100 { 
            width: 100%; margin: 0 auto; display: flex; justify-content: center; 
            .img-plus { width: 100px; margin: 80px 0 60px 0; }
            p { font-size: 20px; color: $blue-color; font-weight: 500; text-align: center; line-height: 30px; }
            span.note.needsclick{ font-size: 14px; color: $sub-color2; font-weight: 300; text-align: center; line-height: 30px;  }
            
        }

        .dropzone .dz-preview .dz-success-mark, .dropzone-previews .dz-preview .dz-success-mark{ display: none !important; }
        .dropzone .dz-preview.dz-error .dz-error-mark, .dropzone-previews .dz-preview.dz-error .dz-error-mark { display: none !important; }
    }
}

/* End of banner */

/* inner-section */

.about-us-section{ 
    padding: 0; margin: 0; background-color: #F7F7F8; overflow: hidden;
    .about-us-div {
        padding: 100px 0 80px 0; margin: 0; 

        h2 { padding: 0; margin: 0 0 30px 0; color: $black-color; font-size: 50px; font-weight: 700; line-height: 60px; text-align: center; }
        p { padding: 0 15px; margin: 0 0 30px 0; font-weight: 300; font-size: 28px; color: $sub-color1; letter-spacing: -0.1px; text-align: center; line-height: 50px; }

    }
}

.feature-section{ 
    padding: 0; margin: 0; overflow: hidden;
    .feature-div {
        padding: 0px 0 80px 0; margin: 0; position: relative;

        // &::after{ content: ""; background: url(../images/icon/rect-shape.svg) no-repeat; background-size: contain; position: absolute; left: -35px; bottom: 60px; width: 148px; height: 148px; z-index: -1;     transition: 0.8s; animation-duration: 2s; animation-fill-mode: both; animation-name: slideInUp ; }

        .feature-box{  
            padding: 70px 30px 30px 30px; margin: 0 10px 20px 10px; background-color:$white-color; border: 1px solid $sub-color4; min-height: 385px; transition: all 0.8s; border-radius: 0 0 20px 20px;transition: 0.8s; cursor: pointer; box-shadow: 0 20px 67px 0 #FAFAFA;
            .feature-icon-thumb{ 
                position: relative; margin: 0 auto 30px auto; width: 100%; display: flex; justify-content: center;

                .feature-rect{ position: relative;
                    &::before{
                        content: ""; height: 95px; width: 95px; opacity: 0.5; transform: rotate(0deg); border: 1px solid $blue-color; border-radius: 9px; position: absolute; left: 0; top: 0; transition: all 0.8s;
                    }
                }

                .icon-div{ 
                    padding: 10px; margin: 0; background-color: $blue-color;   border-radius: 9px; height: 95px; width: 95px; display: flex; align-items: center; justify-content: center; position: relative; 
                }
                
            }

            

            h4 { padding: 0px 0 15px 0; margin: 0;  color: $blue-color; font-size: 21px;  text-align: center; line-height: 30px; font-weight: 700; text-transform: uppercase; }
            p { padding: 0px 0 10px 0; margin: 0; font-size: 16px; color: $sub-color1; text-align: center; line-height: 26px; font-weight: 300; 
            }
           
            &:hover{
                box-shadow: 0 12px 34px 0 $sub-color5; 
                .feature-rect{  &::before{ transform: rotate(75deg); } }
            }

        }

        

        .feature-box.feature-box1{
            .feature-rect{  
                &::before{ border: 1px solid $blue-color;  } 
            }
            .icon-div{ 
                background-color: $blue-color;  background-image: radial-gradient(50% 100%, rgba(62, 153, 251, 0) 0%, rgba(29, 98, 246, 0) 100%);  
            }
            h4{ color: $blue-color; }
        }

        .feature-box.feature-box2{
            .feature-rect{  
                &::before{ border: 1px solid $red-color;  } 
            }
            .icon-div{ 
                background-color: $red-color; background-image: radial-gradient(50% 100%, rgba(252, 126, 147, 0) 0%, rgba(252, 47, 68, 0) 100%);  
            }
            h4{ color: $red-color; }
            
        }

        .feature-box.feature-box3{
            .feature-rect{  
                &::before{ border: 1px solid $sub-color3;  } 
            }
            .icon-div{ 
                background-color: $sub-color3;  background-image: radial-gradient(50% 100%, rgba(30, 229, 209, 0) 0%, rgba(21, 183, 167, 0) 100%);  
            }
            h4{ color: $sub-color3; }
        }

    
        
    }
}

.viewplan-section{ 
    padding: 0; margin: 0; overflow: hidden; background-color: $blue-color;
    .viewplan-div {
        padding: 120px 0 60px 0; margin: 0; position: relative; 

        .heading-div{ padding: 0; margin: 0 0 0px 0; position: relative;
            h2{ padding: 0; margin: 0 0 25px 0; color: $sub-color6; font-size: 50px; font-weight: 700; line-height: 60px; text-align: center; }
        }

        .pattern-box-plans{ 
            position: relative;  padding: 40px 0; display: block;
            // &::before{ content: ""; background: url(../images/icon/rect-shape2.svg) no-repeat; background-size: contain; position: absolute; left: -35px; top: 0px; width: 148px; height: 148px;     z-index: 1; }
            // &::after{ content: ""; background: url(../images/icon/rect-shape2.svg) no-repeat; background-size: contain; position: absolute; right: -35px; bottom: 20px; width: 148px; height: 148px;     z-index: 1; }
        }    

        .viewplan-box{  
            padding: 30px 30px 20px 30px; margin: 0 10px 20px 10px; background-color:$white-color; border: 1px solid $sub-color4; min-height: 460px; transition: all 0.8s; border-radius: 10px;transition: 0.8s; cursor: pointer; box-shadow: 0 12px 40px 0 rgba(24, 82, 207, 0.5);
            z-index: 2; position: relative;
            h3 { padding: 5px 0 15px 0; margin: 0; color: #25143F; font-size: 34px; text-align: center; line-height: 48px; font-weight: 500; text-transform: uppercase; }
            h4 { padding: 0px 0 5px 0; margin: 0; color: $black-color; font-size: 22px; text-align: center; line-height: 30px; font-weight: 300;
                .bold-span{  color: #25143F; font-size: 34px; text-align: center; line-height: 48px; font-weight: 500; text-transform: uppercase; }
            }
            .plan-prize-div{
                padding:0; margin: 25px 0 30px 0;
                p {  padding: 0px 0 10px 0; margin: 0; line-height: 26px; font-weight: 300; font-size: 18px; color: #25143F; text-align: center; }
            }
            .description-div{
                margin: 0 0 35px 0;
                p { padding: 0px 0 10px 0; margin: 0; font-size: 18px; color: $sub-color1; text-align: center; line-height: 30px; font-weight: 300; }
            }
            .btn-row{
                padding: 0 15px;
                .btn{ border-radius: 10px;  font-weight: 300; min-height: 60px; }
                .btn.btn-gradiant{ background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%); }
            }
            &:hover{
                box-shadow: 0 12px 40px 0 rgba(24, 82, 207, 1);
            }

        }

        .viewbtn-div{ 
            padding: 0; margin: 0; position: relative;
            .form-checkbox:checked::before {
                font-size: 18px;
                font-weight: 600;
                left: 1px;
                top: -11px;
            }
        }

        /* view plandetails */

        .viewplan-detailsbox{ padding: 0; margin: 0; position: relative;
            .plan-detailsbox{
                padding: 0 15px; margin: 0; position: relative;

                .header-plan-box{
                    margin: 0 0 0px 0; padding: 20px 0 20px 0; border-bottom: 2px dashed rgba(250, 250, 250, 0.2);
                    h4 { padding: 0; margin: 0 0 10px 0; font-size: 28px; color: #FFFFFF; letter-spacing: 0.62px; line-height: 36px; font-weight: 700; }
                    h5 { padding: 0; margin: 0 0 10px 0; font-size: 28px; color: #FFFFFF; letter-spacing: 0.62px; line-height: 36px; font-weight: 300; }

                }

                .middle-plan-box{ 
                    padding: 25px 0 10px 0;
                    label.checkbox { padding: 0; margin: 0 0 15px 0; font-size: 24px; color: #C4D7FF; letter-spacing: 0.62px; line-height: 36px; font-weight: 300;     width: 100%; }
                }

            }
        }

        /* End of view plandetails */
        
    }
}

.client-company-section{ 
    padding: 0; margin: 0; overflow: hidden; background-color: $sub-color7;
    .client-company-div {
        padding: 100px 0 100px 0; margin: 0; position: relative; 

        .img-slider-container{ padding: 0; margin: 0 0 40px 0;
            .owl-carousel-slider{
                max-width: 950px; padding: 0; margin: 0 auto;
                .client-slider-item{ display: flex; align-items: center; justify-content: center; text-align: center;
                    .client-slider-img-blk{ padding: 5px 0 0 0; position: relative; display: flex; align-items: center; justify-content: center; min-height: 120px; transition: 0.8s;  border-radius: 100%; box-shadow: none;
                        .client-img { height: 90px; width: 90px; margin: 0 auto; object-fit: cover; object-position: center; display: inline-block; border-radius: 100px; }
                        top: 0; left: 0;
                        &:hover{
                            &::after{ content: ""; position: absolute; width: 100px; height: 100px;  border-radius: 1000px;  border: 1px solid #0060ff;  z-index: 1; }
                            
                        }
                    }

                }

                .client-slider-item.client-color1{ 
                    .client-slider-img-blk{
                        &:hover{  &::after{ border: 1px solid #0060ff; }  }   
                    } 
                }

                .client-slider-item.client-color2{ 
                    .client-slider-img-blk{
                        &:hover{  &::after{ border: 1px solid #000000; }  }   
                    } 
                }

                .client-slider-item.client-color3{ 
                    .client-slider-img-blk{
                        &:hover{  &::after{ border: 1px solid #9ebe58; }  }   
                    } 
                }

                .client-slider-item.client-color4{ 
                    .client-slider-img-blk{
                        &:hover{  &::after{ border: 1px solid #00353d; }  }   
                    } 
                }

                .client-slider-item.client-color5{ 
                    .client-slider-img-blk{
                        &:hover{  &::after{ border: 1px solid #d03832; }  }   
                    } 
                }

                .client-slider-item.client-color6{ 
                    .client-slider-img-blk{
                        &:hover{  &::after{ border: 1px solid #00a1e0; }  }   
                    } 
                }

                .client-slider-item.client-color7{ 
                    .client-slider-img-blk{
                        &:hover{  &::after{ border: 1px solid rgba(0, 0, 0, 0.05); }  }   
                    } 
                }
                
                .client-slider-item.client-color8{ 
                    .client-slider-img-blk{
                        &:hover{  &::after{ border: 1px solid #d75887; }  }   
                    } 
                }

            }

            .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span { background-image: linear-gradient(45deg, #014AEA, #0281F6); }
            .owl-theme .owl-dots .owl-dot { outline: none; }

        }

        .client-company-desc{
            padding: 0; margin: 0 0 20px 0; position: relative;

            h2 { padding: 0; margin: 0 0 15px 0; color: $black-color; font-size: 50px; font-weight: 700; line-height: 60px; text-align: center; }
            p { padding: 0 15px; margin: 0 0 30px 0; font-weight: 300; font-size: 21px; color: $sub-color1; text-align: center; line-height: 36px; }

            .btn.btn-gradiant2{ margin: 0 auto; text-align: center; justify-content: center; max-width: 340px; width: 100%; font-weight: 300; }


        }

    }
}    

.innertab-content{
    max-width: 620px; padding: 0 70px 0 25px; width: 100%;
    .mav-tab-root{ 
        min-height: 450px;

        .nav-tabs { 
            border-bottom: 0px solid #dee2e6; margin: 0 0 25px 0; 
            
            a{ 
                padding: 15px 40px; background-color: transparent; margin: 0 20px 0 0; color: $sub-color2; font-weight: 700; border-bottom: 1px solid transparent; font-size: 24px; line-height: 34px; text-decoration: none;  position: relative;
                &:before{ content: ''; position: absolute; transition: transform .5s ease; bottom: 0; background: $transparent-color; border-radius: 100px 100px 0 0; display: block; width: 100%; height: 4px;    transform: translate(0, 10px); }
                &:hover{ color: $blue-color; }
            }

            .active{ 
                color: $blue-color;
                &:before{ background-color: $blue-color; transform: translate(0%, 0); }
            }

        }

        .form-box-group{
            padding: 20px 0 20px 0;
            label { color: $sub-color1; padding: 0px 10px 0px 0; font-weight: 300; border-bottom: 1px solid $transparent-color; font-size: 24px; line-height: 37px; display: inline-block; min-width: 161px; vertical-align: bottom; }
            
            .line-form-control{  
                display: inline-block; width: auto; border: none; border-bottom: 2px solid rgba(114, 114, 114, 0.10); border-radius: 0px; transition: 0.8s; padding: 0; font-weight: 400; margin: 0;
                &:hover, &:focus{
                    outline: none; box-shadow: none;  border-bottom: 2px solid $blue-color; color: $blue-color;
                }
            }

            .line-form-control.width-min155{
                width: calc( 100% - 165px );
            }

            .line-textarea-form-control{ 
                width: 100%; resize: none; text-align: left; padding: 0; border:none; border-bottom: 2px solid rgba(114, 114, 114, 0.10); border-radius: 0px; transition: 0.8s; padding: 0; font-weight: 400;  font-size: 1rem;
                &:hover, &:focus{
                    outline: none; box-shadow: none;  border-bottom: 2px solid $blue-color; color: $blue-color;
                }

                &::-webkit-scrollbar { width: 3px; height: 3px; }
                &::-webkit-scrollbar-track { background-color: rgba(0,0,0,0.1); border-radius: 24px 24px; }
                &::-webkit-scrollbar-thumb { background-color: rgba(255,255,255,0.8);border-radius: 0px; }
                &::-webkit-scrollbar-corner { }

            }

            .full-control{ width: 100%; }

            // .paper { position: relative; width: 100%; max-width: 100%; min-width: 100%; height: 136px; margin: 0 auto; background: transparent; border-radius: 0px; box-shadow: none; overflow: hidden; border: none;
            //     .paper-content { position: absolute; top: 0; right: 0; bottom: 0; left: 0;     background: linear-gradient(transparent, transparent 43px, #7272721a 43px); background-size: 45px 45px;
            //         textarea { width: 100%; max-width: 100%; height: 100%; max-height: 136px; line-height: 44px; padding: 0 0px; border: 0; outline: 0; background: transparent; font-size: 18px; box-sizing: border-box; z-index: 1; resize: none; overflow: hidden; }
            //     }
            // }
            
            .mr-top38{ margin-bottom: 0; background-color: #fff !important; min-height: auto; position: absolute; z-index: 1; top: 7px; left: 0; min-width: 175px; }
            .mandatory-label{ color: $red-color; font-weight: 700; }
            .formgroup-row{ 
                margin: 0 0 15px 0; display: block; position: relative; 
                &.formgroup-row-about{
                    // label.label { position: absolute; top: 0; left: 0; background-color: #fff; }
                    .line-textarea-form-control{ min-height: 80px; padding: 6px 15px; line-height: 28px; border: 2px solid rgba(114, 114, 114, 0.1); margin: 10px 0 0 0; }
                }
            }


            .select-box.select-custom2 { width: auto; display: inline-block; }
            .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before{ margin: -10px 0 0 0; display: inline-block; }
            .select2.select2-container.select2-container--open .select2-selection.select2-selection--single { background: transparent; }
            .select-custom2 span.select2-selection.select2-selection--single{ margin: 0 0 3px 0; font-size: 22px; font-weight: 500; color: #1D61F6; }
            .selectbox-inline{ display: inline-block; }
            

        }
        
        .copy-clip-path{
            padding: 0; margin: 0; 
            p{  color: $sub-color1; font-size: 14px; line-height: 30px; font-weight: 300; padding: 0; margin: 0 0 10px 0; }
            .copy-link-box{ position: relative;
                .copy-link-input{
                    border: 1px solid #1D61F6; border-radius: 6px; min-height: 50px;    padding-right: 140px;
                }
                .btn.btn-gradiant2 { position: absolute; top: 0; right: 0; background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%); box-shadow: 0 12px 24px 0 rgba(29,97,246,0.30); border-radius: 0px 6px 6px 0px; padding: 0 15px; min-width: 132px; display: flex; align-items: center; justify-content: center;
                    .text-btn { padding: 0 20px 0 0; width: auto; text-align: left; font-size: 20px; color: #FFFFFF; font-weight: 300; text-transform: uppercase; }
                    &:hover, &:focus{
                        transform: translateY(0px);
                    }
                }
            }
        }

        .error-message-div{
            padding: 0; margin: 0; 
            p{ color: $sub-color1; font-size: 14px; line-height: 30px; font-weight: 300; }
        }

    }
}


.message-box-modal{
    .modal-dialog { max-width: 750px; }
    .modal-content{ border-radius: 0px; }
    .modal-body{
        padding: 0; 

        .message-box{
            padding: 50px 70px; margin: 0 auto;

            .message-thumb{ padding: 0px 0px; margin: 10px auto 40px auto;  text-align: center;
                img.img-messages { margin: 0 auto; width: 215px; }
            }
            h2 { font-size: 34px; color: $sub-color2; font-weight: 500; text-align: center; line-height: 48px; margin: 0 0 15px 0; padding: 0px; }
            p { color: $sub-color1; padding: 0; font-weight: 300; border-bottom: 1px solid $transparent-color; font-size: 24px; line-height: 36px; display: block; text-align: center; margin: 0 0 10px 0; }
            .message-box-border{ padding: 20px; margin: 50px 0 10px 0; text-align: center; border-top: 1px solid rgba(114, 114, 114, 0.2); border-bottom: 1px solid rgba(114, 114, 114, 0.2); }
            .btn.btn-link { color: #1D61F6; padding: 0; font-weight: 300; border-bottom: 1px solid transparent; font-size: 30px; line-height: 40px; display: block; text-align: center; margin: 0 0 10px 0;     white-space: normal; word-break: break-word; }

        }

        .social-icon-root{
            .social-ul{ 
                padding: 20px 0 0 0; margin: 0; width: 100%; text-align: center;  
                li{ 
                    padding: 0 20px 0 0; margin: 0; display: inline-block;
                    &:last-child{ padding-right: 0px; }
                    a{  
                        transition: 0.5s;  height: 50px; width: 50px; background-color: #fff; border-radius: 100%; color: #000000; display: flex; font-size: 24px; align-items: center; justify-content: center; 
                        &:hover{ text-decoration: none; }
                    }
    
                    .social-link.facebook-link{ color: #43619C; border:2px solid #43619C; 
                        &:hover{ background-color: #43619C; color: #fff; transform: translateY(-5px); }
                    }
                    .social-link.google-plus-link{ color: #F24033; border:2px solid #F24033; 
                        &:hover{ background-color: #F24033; color: #fff; transform: translateY(-5px); }
                    }
                    .social-link.dribbble-link{ color:  #E64C87; border:2px solid #E64C87; 
                        &:hover{ background-color: #E64C87; color: #fff; transform: translateY(-5px); }
                    }
                    .social-link.behance-link{ color: #1A70F9; border:2px solid #1A70F9; 
                        &:hover{ background-color: #1A70F9; color: #fff; transform: translateY(-5px);}
                    }
                    .social-link.linkedin-link{ color: #187FB8; border:2px solid #187FB8; 
                        &:hover{ background-color: #187FB8; color: #fff; transform: translateY(-5px); }
                    }
                  
                }
             
            }
        }


        .footer-btn-row{
            .btn.btn-gradiant{ border-radius: 0px; min-height: 60px; 
                &:hover, &:focus{
                    transform: translateY(0px);
                }
            }
        }

    }
}


.modal{  z-index: 99999; }
.modal-backdrop{ z-index: 9999; }

/* End of inner-section */

footer.footer-home{ 
    overflow: hidden;
    .footer-root{ 
        padding: 0; margin: 0; background-color: $black-color;

        .get-started-div{
            padding: 100px 0 30px 0; margin: 0; position: relative; color: $white-color; border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            .get-content-div{
                min-height: 86px;
                h3{ padding: 0; margin: 0 0 5px 0; color: $white-color; font-size: 36px; font-weight: 700; line-height: 45px; }
                p { margin: 0 0 5px 0; font-weight: 300; font-size: 21px; color: $light-white-color;  line-height: 36px; }
            }
            .get-content-form{
                min-height: 86px; display: flex;  align-items: center;
                .input-box{ width: calc( 100% - 180px ); padding: 0 20px 0 0; display: inline-block;  }
                .btn-get{ display: inline-block; width: 180px; }
                .btn.btn-gradiant2{ width: 100%; justify-content: center; border-radius: 3px; font-size: 16px; min-height: 45px; font-weight: 700; line-height: 21px; }
                .form-control.custom-input { width: 100%; min-height: 45px; padding: 8px 20px 10px 20px; font-weight: 300; font-size: 16px; line-height: 22px; margin: 0; }

            }
            .width-100{ width: 100%; display: flex; align-items: center; }
            
        }   



        .footer-div{ 
            padding: 35px 0 30px 0; margin: 0; position: relative; color: $white-color;

            ul.footer-ul {  list-style: none outside; }

            .footer-list-root{ 
                h5{     margin: 0 0 10px 0; padding: 0; color: $white-color; font-size: 20px; font-weight: 500; line-height: 30px; }
                ul.footer-ul{ 
                    li{ padding: 0 0 0 0; margin: 0 0 8px 0; }
                 }
                a.link-footer{  margin: 0 0 0px 0; font-weight: 300; font-size: 16px; color: $light-white-color; line-height: 24px;
                    &:hover{ color: $white-color; text-decoration: none; }
                }
            }

            .social-icon-div-root{
                .footer-social-ul{ 
                    padding: 0; margin: 0; width: 100%; text-align: center; display: flex; align-items: center; justify-content: flex-end; 
                    li{ 
                        padding: 0 20px 0 0; margin: 0; display: inline-block;

                        &:last-child{ padding-right: 0px; }
                        a{  
                            transition: 0.5s;  height: 32px; width: 32px; background-color: #fff; border-radius: 100%; color: #000000; display: flex; font-size: 14px; align-items: center; justify-content: center; 
                            &:hover{ text-decoration: none; }
                        }
                        
                        .social-link.facebook-link:hover{ background-color: #43619C; color: #fff; transform: translateY(-3px); }
                        .social-link.twitter-link:hover{ background-color: #24A9E6; color: #fff; transform: translateY(-3px); }
                        .social-link.pinterest-link:hover{ background-color:  #c8232c; color: #fff; transform: translateY(-3px); }
                        .social-link.instagram-link:hover{ background-color: #15aabf; color: #fff; transform: translateY(-3px); }

                    }
                 
                }

            }

        }

        .footer-bottom{ 
            border-top: 1px solid $blue-color; min-height: 56px; 
            .list-inline{ min-height: 56px; align-items: center; display: flex;
                li{ display: inline-block; padding: 0 20px 0 0; 
                    a{ 
                        padding: 0 0; margin: 0 0 0px 0; color: $blue-color; font-size: 14px; font-weight: 300; line-height: 24px; transition: 0.5s;
                        &:hover{ color: $light-white-color; }
                    }
                }

            }


         
        }


    }
}

/* end of home page */

/* Login  */

.login-middle-area {
    min-height: calc( 100vh - 108px);
    background-color: #fafafa;
    background-size: cover;
}

.common-inner-div { min-height: calc( 100vh - 108px); display: flex; align-items: center; width: 100%; justify-content: center; }

.mt-5px{
    margin-top: 5px;
}

.generalcard-box-top{ 
    padding: 0; max-width: 1000px; width: 100%; margin: 0 auto; position: relative; background: $white-color; border-radius: 6px; min-height: 250px;
    
    .general-box-inner{  width: 100%; padding: 0px 0px 0 0px; background-color: $white-color; z-index: 1; position: relative; border-radius: 6px;      box-shadow: 0 22px 74px 0 #e0e0e0;

        .login-form{ 
            padding: 50px 70px 55px 70px; min-height: 410px; border-radius: 6px 0 0 6px; 
            h3 { font-size: 28px; line-height: 36px; color: $black-color; margin: 0 0 20px 0; width: 100%; font-weight: 700; white-space: normal; overflow: hidden; text-overflow: ellipsis;  }
            h4.h4{ font-weight: 400; font-size: 20px; min-height: 50px; margin: 0; padding: 10px 0 0 0; }
            p { color: #666666; padding: 0px 0px 0px 0; margin: 0 0 10px 0; font-weight: 300; font-size: 16px; line-height: 26px; }
            .black-500{ font-weight: 500; color: #303030; 
                &:hover{
                    color: $blue-color;
                }
            }
            .main-form-div{ padding: 0; margin: 0; 
                .form-group{  margin-bottom: 20px; 
                    label { font-size: 16px; font-weight: 500; margin: 0 0 10px 0; 
                        span.otp-span{ 
                            color: $blue-color;
                        }
                    }
                }

                .resend-otp-prag{  padding: 0; margin: 0 0 20px 0; font-size: 16px; color: $sub-color1; text-align: left; line-height: 22px; font-weight: 300; 
                    a.resend-link{ font-weight: 500; color: $blue-color; }
                } 

                .signin-14{ 
                    font-size: 15px;
                    &.btn.btn-block{
                        padding-top: 10px; line-height: 24px;
                       
                    }
                }

                .input-forms-resend { 
                    padding: 0; margin: 0 auto;  
                    

                    .form-control {  -webkit-appearance: none;  }
                    .form-control { 
                        font-family: 'BebasNeue' !important; font-weight: normal !important; padding: 10px 10px; margin-right: 0; margin-bottom: 0px; color: $black-color; font-size: 25px; letter-spacing: 0px; padding-top: 13px; line-height: 36px; max-width: 40px; max-height: 50px; 
                        &:nth-child(4){
                            margin-left: 20px;
                        }
                    }
                    
                    .form-control::-webkit-inner-spin-button, 
                    .form-control::-webkit-outer-spin-button {  -webkit-appearance: none;  margin: 0; }

                    .form-control::-webkit-input-placeholder {  color: rgba(114, 114, 114, 0.1) !important; }
                    .form-control::-moz-placeholder {  color: rgba(114, 114, 114, 0.1) !important; }
                    .form-control:-ms-input-placeholder {  color: rgba(114, 114, 114, 0.1) !important; }
                    .form-control:-moz-placeholder {  color: rgba(114, 114, 114, 0.1) !important; }

                    /***    **/



                }
                
                input.form-control { 
                    border: 1px solid #DDDDDD; min-height: 50px; border-radius: 0px; padding: 10px 15px; width: 100%; font-size: 16px; font-weight: 300;
                    ::-webkit-input-placeholder {  color: $sub-color1; }
                    ::-moz-placeholder { color: $sub-color1; }
                    :-ms-input-placeholder { color: $sub-color1; }
                    :-moz-placeholder { color: $sub-color1; }

                    &:hover , &:focus{
                        outline: none; box-shadow: none;
                    }
                    &:disabled{
                        background-color:#fff;
                        opacity: 0.45;
                    }
                }

                .show-desc{ 
                    display: block; padding: 0; margin: 0 0 50px 0;
                    p{  padding: 0 0 0 20px; margin: 0 0 5px 0; color: $sub-color6; font-size: 14px; font-weight: 500; line-height: 24px; vertical-align: bottom;     position: relative; }
                    span.dot { display: inline-block; height: 9px; width: 9px; background-color: rgba(60, 69, 76, 0.5); border-radius: 100%; margin: 0 10px 0 0; line-height: 24px;     position: absolute; left: 0; top: 6px;
                    }
                }

                .btn.btn-gradiant2{ 
                    width: 100%; max-width: 100%; text-transform: capitalize; text-align: center; justify-content: center; padding: 8px 0 10px 0; 
                    background-image: linear-gradient(226deg, #3E9AFB 0%, #1553DA 100%);
                }

                .checkbox-root{  
                    padding: 0; margin: 10px 0 20px 0; 
                    label.checkbox { padding: 0; margin: 0; font-size: 16px; font-weight: 400; color: $sub-color1; }
                    .form-checkbox{ padding: 0; margin: 0 5px 0 0; }
                }



            }

            .btn-account-root{
                padding: 10px 0 0 0; margin: 0 0 0 0;
                .account-row{ padding: 0; margin: 0; 
                    .link{
                        text-decoration:none;
                    }
                }
                span.or-span { font-weight: 700; padding: 15px 0 10px 0; display: block; }
            }

        }

        .border-right1{ border-right: 1px solid #D9D9D9; }

        .forgot-bottom-row { padding: 0; margin: 0; min-height: 80px; display: flex; align-items: center; justify-content: center; background-color: #F3F3F3; color: $darkblue-color; border-radius: 0 0 0 6px;
            p{ font-size: 16px; color: #5F5F5F; text-align: left;font-weight: 700; line-height: 24px;  }
            .btn-forgot{ padding: 0; margin: 0; color: #5F5F5F; font-size: 16px; font-weight: 700; border: none; line-height: 24px; transition: 0.6s; text-transform: capitalize; vertical-align: top; text-decoration: underline;
                &:hover, &:focus{
                    color: $sub-color1;
                }
            }
        }

        .signup-bottom-row{ 
            p{ color: #303030; }
            .btn-forgot{ color: #303030; }
         }
      
        .p0-login{ padding: 0; }

    }

    &:after{
        content: "";
        background-image: url(../images/icons/pattern.svg);
        position: absolute;
        right: -100px;
        bottom: -90px;
        height: 200px;
        width: 200px;
        background-size: contain;
        -webkit-transition: 0.8s;
        transition: 0.8s;
    }

    &:hover::after{
        right: -80px;
        bottom: -70px;
    }

}    

.font-16{
    font-size: 16px !important;
}


/* End of Login */


/* Inner Pages  **/

.custom-checkbox { .custom-control-label { &::before { color: #fff; border-color: #C8C8C8; background-color: transparent; border-radius: 0; height: 20px; width: 20px; } } }
.custom-checkbox { .custom-control-input { &:checked { & ~ .custom-control-label { &::after { background-image: url('../images/check-color1.png'); width: 50px; height: 34px; left: -39px; top: -3px; display: block; } } } } }
.custom-checkbox-radius{ .custom-control-input::before { background-color: #0049E9; border-radius: 0px; border-width: 2px; border-color:#003EC4;  } }
.custom-checkbox-2 { .custom-control-label{ padding: 0 0 0 10px; margin: 0 0 15px 0; font-size: 24px; color: #C4D7FF; letter-spacing: 0.62px; line-height: 28px; font-weight: 300; width: 100%; } }
.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before { background-color: #0049E9; }
.custom-checkbox-radius{ .custom-control-input:disabled~.custom-control-label::before { background-color: #0049E9; border-radius: 0px; border-width: 2px; border-color:#003EC4;  } }
.custom-checkbox-radius .custom-control-label { font-size: 20px; line-height: 32px; padding-left: 20px; }
.custom-checkbox-radius .custom-control-input:disabled~.custom-control-label {
    color: #C4D7FF;
}

@media (min-width: 1025px) {
    
    header .header-div .ullist-inline .dropdown-menu {
        margin: 35px 0 0 0px; left: auto !important; right: 0;
        &:before{ 
            content: ""; border-top: 10px solid $transparent-color; border-left: 10px solid $transparent-color; border-bottom: 10px solid $white-color; border-right: 10px solid #ffffff; display: inline-block; position: absolute; top: -19px; right: -1px;
        }
    }
    header .header-div .ullist-inline .btn-user-dropdown .dropdown-menu{ border: none;
        &::before{ top: -19px; right: 0px; }
        ul { margin-right: 1px; }
    }

}

@media (min-width: 1025px) and (max-width: 1290px) {
    
    .container {
        max-width: 1100px;
    }

}

@media (min-width: 1025px) and (max-width: 1450px) {

}

@media (min-width: 1450px) and (max-width: 1700px) {

}

@media (max-width: 767px) {

    .btn.btn-gradiant2 {
        font-size: 16px; line-height: 28px;
        .text-btn { padding: 0 15px; }
    }

  
    header.header-home{

        .header-div{

            min-height: 75px;

            .nav-center-div { width: 30%; order: 3; min-height: 75px; padding: 0; justify-content: flex-end; }
            .logo-div { width: 70%; order: 1; }
            .logo-div .logo_link  { width: 160px; }
            
            .top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end; }
            .nav-m-bar .menu-bars{ font-size: 30px; color: $white-color; display: flex; align-items: center;}
            .nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: $white-color; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
            .nav-div .closebtn { position: absolute; color: $darkblue-color; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
            .nav-div .closebtn:hover { color: $blue-color; }
            .nav-div .closebtn { display:block;}

            .width80{     width: calc( 100% - 63px ); }
            .opacityon{ opacity: 1; }
            .cd-shadow-layer.displayblock{ display: block;  height: 100%; overflow: hidden;  background-image: linear-gradient(45deg, #014AEA, #0281F6); opacity: 0.9;  }
            
            .max-container-container{ bottom: 20px; }
            .banner-caption { padding: 0px 0; }
            .banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }

            .header-container {display: flex;}
            .header-right-div {align-items: center;}
            
            .logo-div { padding: 15px 0; min-height: 70px; }
            
            .nav-div .closebtn {display: block; color: $darkblue-color;}

            .ullist-inline li{ width: 100%; margin: 0;
                &:last-child{ margin: 35px 0 0 0; }
                .btn.btn-gradiant{ margin: 0 15px 0 15px !important;  }
             }
            .ullist-inline li .nav-link {  padding: 15px 30px; white-space: nowrap; width: 100%; text-align: center; }
            .ullist-inline li.active .nav-link { color: $blue-color !important; }
            
            a.btn.btn-blue.top-minues10 { margin: 10px !important; border-radius: 0px; }

            .ullist-inline li .nav-link.btn-user { 
                margin: 0px 0 0 0; width: 100%;  border-radius: 0px;    color: rgba(255, 255, 255, 0.5) !important; 
                &::before{ display: none; }
            }
            .dropdown-toggle::after{  margin: 10px 0 10px 10px; }
            .dropdown-menu.show { position: relative !important; top: auto !important; left: auto !important; min-width: 100% !important; width: 100%; margin: 0rem 0 0; transform: none !important; text-align: center; }

            .ullist-inline li.myaccount-count{ margin: 20px 0 0 0; }
            .btn.btn-gradiant2.btn-mycart { margin: 0 !important; border-radius: 0px; max-width: 100%; }
            
            .nav-div.width80{ 
                animation-duration: 1s !important; animation-name: fadeInRight !important;
                .ullist-inline {
                    li:nth-child(1){ animation-duration: 0.5s !important; animation-name: fadeInRight !important; }
                    li:nth-child(2){ animation-duration: 1s !important; animation-name: fadeInRight !important; }
                    li:nth-child(3){ animation-duration: 1.5s !important; animation-name: fadeInRight !important; }
                    li:nth-child(4){ animation-duration: 2s !important; animation-name: fadeInRight !important; }
                    li:nth-child(5){ animation-duration: 2.5s !important; animation-name: fadeInUp !important; }
                }
            }
            
        }   

        .header-div.scrollUp { transform: initial; }

    }

    .banner-section {
        .banner-div {

            .bannerright-6{ order: 1; .height-100{ height: 100%; min-height: calc( 100vh - 75px ); } }
            .bannerleft-6{  order: 2; .height-100{ padding: 60px 0; } }
            .height-100 { height: 100%; }
            .dropbox-right {
                padding: 0px 0 ;display: block;
                .img-fluid.bg-pattern { min-height: calc( 100vh - 75px); object-fit: cover;     z-index: 0; }
            }

            .content-banner {
                h1{ font-size: 30px; line-height: 42px; margin: 0 0 30px 0; }
                p { font-size: 18px; line-height: 26px; }
            }
        }
    }

    .dropbox-center-div{    height: 100%;
        .drag-drop-center{
            form.dropzone { 
                max-width: 100%; min-height: 100%; max-height: 100%; box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.08); margin: 35px 15px 45px 15px;
            }

            .dropzone-100 .img-plus { margin: 30px 0 40px 0; width: 80px; }
        }
    } 
    
    .position-fixed {
        overflow: hidden;
    }

    /*  inner-section */
    
    .about-us-section{ 
        .about-us-div {
            padding: 80px 0 70px 0; 
            h2 { padding: 0;  font-size: 28px; line-height: 36px;}
            p { padding: 0 5px; margin: 0 0 30px 0; font-size: 21px; line-height: 32px; }

        }
    }

    .feature-section {
        .feature-div {
            &::after { left: -15px; bottom: 70px; }
        }
    }
    
    .viewplan-section{
        .viewplan-div{
            padding: 70px 0 60px 0;
            .pattern-box-plans{ padding: 30px 0 30px 0;
                // &::before{ left: -15px; }
                // &::after{ right: -20px; }
            }
            .heading-div {
                h2{ padding: 0; font-size: 28px; line-height: 36px; }
            }


            .btn-view{ font-size: 24px; }

            .viewplan-detailsbox {
                .plan-detailsbox {
                    
                    .header-plan-box {
                        h4 { font-size: 21px; line-height: 28px; }
                        h5 { font-size: 20px; line-height: 28px; }
                    }

                    .form-checkbox:checked::before { top: -8px;     left: 5px; }

                    .middle-plan-box{
                        label.checkbox{
                            font-size: 20px; line-height: 28px;
                        }
                    }
                    

                }
            }


        }
    }

    .client-company-section {
        .client-company-div {padding: 80px 0 80px 0;
            .client-company-desc {
                h2 { font-size: 30px; line-height: 42px; }
                p { font-size: 16px; line-height: 26px; }
            }
        }
    }
    
    .innertab-content {
        max-width: 100%; padding: 0 15px;
        .mav-tab-root {

            .nav-tabs {
                a { padding: 10px 25px 15px 25px; margin: 0 0px 0 0; font-size: 18px; line-height: 36px; 
                    &:before { height: 2px; }
                }
            }

            .form-box-group {
                .formgroup-row{ margin: 0 0 25px 0; }
                label { padding: 0px 0px 0px 0; font-size: 18px; line-height: 30px; min-width: 100%; }
                .line-form-control.width-min155 { width: 100%; }                
                .select-custom2 span.select2-selection.select2-selection--single { padding-left: 0px; padding-right: 0px;     margin: 0 0 0px 0; font-size: 18px; }
                .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before { margin: -7px 0 0 0; }
            }

            .copy-clip-path { 
                p { font-size: 14px; line-height: 30px; } 
                .copy-link-box {
                    .btn.btn-gradiant2{
                        min-width: 100px; .text-btn{  font-size: 16px; padding: 0 10px 0 0; }
                    }
                    .copy-link-input{
                        padding-right: 105px;
                    }
                }
            }

            .error-message-div{
                p{ font-size: 13px; line-height: 21px; }
            }    
        }
    }

    .select2.select2-container .select2-selection .select2-selection__rendered { padding-right: 50px; padding-left: 0; }

    .message-box-modal {
        .modal-body {
            .message-box {
                padding: 50px 20px;

                h2 { font-size: 24px; line-height: 36px; margin: 0 0 15px 0; }
                p{ font-size: 20px; line-height: 28px; }
                .btn.btn-link{ font-size: 20px; line-height: 28px; }

                .message-thumb {
                    img.img-messages {
                        margin: 0 auto; width: 170px;
                    }
                }

                .social-icon-root {
                    .social-ul {
                        li {    padding: 0 5px 0 0;
                            a { height: 40px; width: 40px; font-size: 16px; }

                        }
                    }
                }

            }
        }
    }
    
    .generalcard-box-top {
        margin: 30px 0;
        .general-box-inner {
            .p0-login{ padding-right: 15px; padding-left: 15px; }
            .border-right1{ border: none; border-bottom: 1px solid #D9D9D9; border-radius: 0px; }

            .login-form {
                padding: 40px 20px 40px 20px; margin: 0 0 0px 0; min-height: auto; 
                h3{     font-size: 28px; }
                .main-form-div {
                    .show-desc {
                        p{ font-size: 13px; }
                    }
                }
            }
          
            .forgot-bottom-row{ 
                padding: 10px 15px; 
                p{ text-align: center; }
            }

        }
        
        &:after{ display: none; }
    }


    /* End of inner-section */

    footer.footer-home { 
        .footer-root {

            .get-started-div{ 
                padding: 80px 0 30px 0;
                .get-content-div {
                    margin: 0 0 30px 0;
                    h3 { font-size: 30px; line-height: 42px; }
                    p { font-size: 16px; line-height: 26px; }
                }
                .width-100{ display: block; }
                .get-content-form { 
                    .input-box{ width: 100%; padding: 0 0px 10px 0;  display: block; }
                    .btn-get{ width: 100%; }
                }
            }
            

            .footer-div {

                .footer-list-root {
                    margin: 0 0 20px 0;
                    h5{  font-size: 16px; line-height: 28px; }
                    ul.footer-ul{ 
                        li{ padding: 0 0 0 0; margin: 0 0 8px 0; }
                        }
                    a.link-footer{  
                        font-size: 14px; line-height: 24px;
                    }
                }
                
                .social-icon-div-root {
                    .footer-social-ul{
                        margin: 15px 0 0 0; justify-content: flex-start;
                        li { a{ height: 28px; width: 28px;    font-size: 13px; } }       
                    }
                }
                            
            } 

            
        } 
    }
    
    .return-to-top { bottom: 10px; right: 10px; width: 35px; height: 35px;
        i { font-size: 14px !important; }
    }


    .generalcard-box-top {
        .general-box-inner {
            .login-form {
                .main-form-div.pt-90 {
                    padding: 0 !important;
                }
                .main-form-div.pt-55 {
                    padding: 0 !important;
                }
            }
        }
    }
    

    /* inner pages */


}

@media (min-width: 768px) and (max-width: 1024px) {

    header.header-home{

        .header-div{

            min-height: 75px;

            .nav-center-div { width: 30%; order: 3; min-height: 75px; padding: 0; justify-content: flex-end; }
            .logo-div { width: 70%; order: 1; }
            .logo-div .logo_link  { width: 160px; }
            
            .top-nav1 {display: flex;align-items: center; height: 100%; justify-content: flex-end; }
            .nav-m-bar .menu-bars{ font-size: 30px; color: $white-color; display: flex; align-items: center;}
            .nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0;  background-color: $white-color; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
            .nav-div .closebtn { position: absolute; color: $darkblue-color; background-color: transparent;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 40px; font-weight: 300; line-height: 35px; margin-top: 15px; margin-right: 10px; }
            .nav-div .closebtn:hover { color: $blue-color; }
            .nav-div .closebtn { display:block;}

            .width80{ width: 40%;  }
            .opacityon{ opacity: 1; }
            .cd-shadow-layer.displayblock{ display: block;  height: 100%; overflow: hidden;  background-image: linear-gradient(45deg, #014AEA, #0281F6); opacity: 0.9;  }
            
            .max-container-container{ bottom: 20px; }
            .banner-caption { padding: 0px 0; }
            .banner-section .banner-div .center_title .social-icon-div ul { margin: 0 0 8px 0; }

            .header-container {display: flex;}
            .header-right-div {align-items: center;}
            
            .logo-div { padding: 15px 0; min-height: 70px; }
            
            .nav-div .closebtn {display: block; color: $darkblue-color;}

            .ullist-inline li{ width: 100%; margin: 0;
                &:last-child{ margin: 35px 0 0 0; }
                .btn.btn-gradiant{ margin: 0 15px 0 15px !important;  }
             }
            .ullist-inline li .nav-link {  padding: 15px 30px; white-space: nowrap; width: 100%; text-align: center; }
            .ullist-inline li.active .nav-link { color: $blue-color !important; }
            
            a.btn.btn-blue.top-minues10 { margin: 10px !important; border-radius: 0px; }

            .ullist-inline li .nav-link.btn-user { 
                margin: 0px 0 0 0; width: 100%;  border-radius: 0px;    color: rgba(255, 255, 255, 0.5) !important; 
                &::before{ display: none; }
            }
            .dropdown-toggle::after{  margin: 10px 0 10px 10px; }
            .dropdown-menu.show { position: relative !important; top: auto !important; left: auto !important; min-width: 100% !important; width: 100%; margin: 0rem 0 0; transform: none !important; text-align: center; }

            .ullist-inline li.myaccount-count{ margin: 20px 0 0 0; }
            .btn.btn-gradiant2.btn-mycart { margin: 0 !important; border-radius: 0px; max-width: 100%; }


            .nav-div.width80{ 
                animation-duration: 1s !important; animation-name: fadeInRight !important;
                .ullist-inline {
                    li:nth-child(1){ animation-duration: 0.5s !important; animation-name: fadeInRight !important; }
                    li:nth-child(2){ animation-duration: 1s !important; animation-name: fadeInRight !important; }
                    li:nth-child(3){ animation-duration: 1.5s !important; animation-name: fadeInRight !important; }
                    li:nth-child(4){ animation-duration: 2s !important; animation-name: fadeInRight !important; }
                    li:nth-child(5){ animation-duration: 2.5s !important; animation-name: fadeInUp !important; }
                }
            }

            
        }   

        .header-div.scrollUp { transform: initial; }

    }

    .position-fixed {
        overflow: hidden;
    }
 
    /*
    .banner-section {
        .banner-div {
            .height-100{ min-height: calc( 100vh - 75px ); }
            .dropbox-right {
                .img-fluid.bg-pattern { height: calc( 100vh - 76px); }
            }
            .content-banner {
                h1{ font-size: 30px; line-height: 42px; margin: 0 0 30px 0; }
                p { font-size: 18px; line-height: 26px; }
            }
        }
    }*/

    .banner-section {
        .banner-div {

            .bannerright-6{ order: 1; .height-100{ height: 100%; min-height: calc( 100vh - 75px ); } }
            .bannerleft-6{  order: 2; .height-100{ padding: 60px 0; } }
            .height-100 { height: 100%; }
            .dropbox-right {
                .img-fluid.bg-pattern { min-height: calc( 100vh - 75px); object-fit: cover; z-index: 0; }
            }
            
            .content-banner {
                h1{ font-size: 30px; line-height: 42px; margin: 0 0 30px 0; }
                p { font-size: 18px; line-height: 26px; }
                .text-content {
                    margin: 0 auto;
                }
            }
        }
    }
    
    /*
    .dropbox-center-div{
        .drag-drop-center{
            form.dropzone { 
                 min-height: 100%;margin: 35px 15px 45px 15px;
            }

            .dropzone-100 .img-plus { margin: 30px 0 40px 0; width: 80px; }
        }
    }*/ 
    
     /*  inner-section */
    
    .about-us-section{ 
        .about-us-div {
            padding: 80px 0 70px 0; 
            h2 { padding: 0;  font-size: 28px; line-height: 36px;}
            p { padding: 0 5px; margin: 0 0 30px 0; font-size: 21px; line-height: 32px; }

        }
    }

    .feature-section {
        .feature-div {
            &::after { left: -15px; }

            .feature-box {
                margin: 0 0px 0px 0px; padding: 50px 10px 20px 10px; min-height: 350px;

                .feature-icon-thumb {     margin: 0 auto 20px auto;
                    .feature-rect { transform: scale(0.8); }
                }

                h4{ font-size: 18px; line-height: 24px; padding: 0px 0 10px 0; }
                p{ font-size: 14px; line-height: 26px; }

            }
        }
    }        

    .viewplan-section{
        .viewplan-div{
            padding: 70px 0 40px 0;
            .pattern-box-plans{     padding: 20px 0 40px 0;
                // &::before{ left: -15px; }
                // &::after{ right: -20px; }
            }
            .heading-div {
                h2{ padding: 0; font-size: 28px; line-height: 36px; }
            }
            
            .viewplan-box{
                margin: 0 0px 0px 0px; padding: 30px 10px 10px 10px ; min-height: 375px;
                h3{  font-size: 28px; line-height: 42px; }
                .plan-prize-div{
                    margin: 10px 0 20px 0;
                    h4{  font-size: 18px; line-height: 28px; 
                        .bold-span{  font-size: 28px; line-height: 42px; }
                    }
                    p{ font-size: 16px; line-height: 28px;  }
                }

                .description-div {
                    p{ font-size: 14px; line-height: 26px; }
                }

                .btn-row{
                    padding: 0;
                    .btn{  padding: 0 10px; font-size: 18px; }
                }

            }

            .btn-view { font-size: 21px; padding: 0; }

            .viewplan-detailsbox {
                .plan-detailsbox { padding: 0 0;
                    
                    .header-plan-box {
                        h4 { font-size: 21px; line-height: 28px; }
                        h5 { font-size: 18px; line-height: 28px; }
                    }

                    .form-checkbox:checked::before { top: -8px;     left: 5px; }

                    .middle-plan-box{
                        label.checkbox{
                            font-size: 18px; line-height: 28px;
                        }
                    }
                    

                }
            }

        }
    }

    
    .client-company-section {
        .client-company-div {
            .client-company-desc {
                h2 { padding: 0; font-size: 28px; line-height: 36px; }
                p{ font-size: 18px; line-height: 28px; }
                .btn.btn-gradiant2{ font-size: 18px; }
            }
        }
    }

    .innertab-content {
        max-width: 60%; padding: 0 15px; margin: 0 auto;
        .mav-tab-root {

            .nav-tabs {
                a { padding: 10px 25px 15px 25px; margin: 0 0px 0 0; font-size: 18px; line-height: 36px; 
                    &:before { height: 2px; }
                }
            }

            .form-box-group {
                .formgroup-row{ margin: 0 0 25px 0; }
                label { padding: 0px 0px 0px 0; font-size: 18px; line-height: 30px; min-width: 100%; }
                .line-form-control.width-min155 { width: 100%; }                
                .select-custom2 span.select2-selection.select2-selection--single { padding-left: 0px; padding-right: 0px;     margin: 0 0 0px 0; font-size: 18px; }
                .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before { margin: -7px 0 0 0; }
            }

            .copy-clip-path { 
                p { font-size: 14px; line-height: 30px; } 
                .copy-link-box {
                    .btn.btn-gradiant2{
                        min-width: 100px; .text-btn{  font-size: 16px; padding: 0 10px 0 0; }
                    }
                    .copy-link-input{
                        padding-right: 105px;
                    }
                }
            }

            .error-message-div{
                p{ font-size: 13px; line-height: 21px; }
            }    
        }
    }

    .select2.select2-container .select2-selection .select2-selection__rendered { padding-right: 50px; padding-left: 0; }
    

    /* End of inner-section */

    
    footer.footer-home { 
        .footer-root {

            .get-started-div{ 
                padding: 80px 0 30px 0;
                .get-content-div {
                    margin: 0 0 30px 0;
                    h3 { font-size: 30px; line-height: 42px; }
                    p { font-size: 16px; line-height: 26px; }
                }
                .width-100{ display: block; }
                .get-content-form {
                    .input-box{ width: 100%; padding: 0 0px 10px 0; display: block; }
                    .btn-get{ width: 100%; }
                }
            }
            
            .footer-div {

                .footer-list-root {
                    margin: 0 0 20px 0;
                    
                    ul.footer-ul{ 
                        li{ padding: 0 0 0 0; margin: 0 0 8px 0; }
                        }
                   
                }
                
                .social-icon-div-root {
                    .footer-social-ul{
                        margin: 15px 0 0 0; justify-content: flex-start;
                        li { a{ height: 28px; width: 28px;    font-size: 13px; } }       
                    }
                }
                            
            } 

            
        } 
    }
    
    .return-to-top { bottom: 10px; right: 10px; width: 35px; height: 35px;
        i { font-size: 14px !important; }
    }


    .generalcard-box-top {
        .general-box-inner {
            .login-form {
                padding: 30px 40px 30px 40px; margin: 0 0px 0px 0; 
                h3{ font-size: 28px; }
                .main-form-div {
                    .show-desc {
                        p{ font-size: 13px; }
                    }
                }
            }
            .p0-login{ padding: 0 15px; }
           
        }
        
        &:after{ display: none; }
    }

    .login-right{ 
        .login-form{
            padding-left: 10px !important;
        }
    }

    
}

@media (min-width: 1024px) and (max-width: 1366px) {

}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {



}