.chart-main-root {
	:root {
		--blue: #2c7be5;
		--indigo: #727cf5;
		--purple: #6b5eae;
		--pink: #ff679b;
		--red: #e63757;
		--orange: #fd7e14;
		--yellow: #f6c343;
		--green: #00d97e;
		--teal: #02a8b5;
		--cyan: #39afd1;
		--gray: #95aac9;
		--gray-dark: #3b506c;
		--primary: #2c7be5;
		--secondary: #6e84a3;
		--success: #00d97e;
		--info: #39afd1;
		--warning: #f6c343;
		--danger: #e63757;
		--light: #edf2f9;
		--dark: #12263f;
		--white: #fff;
	}
    
    .chart {
		position: relative;
		height: 300px
	}
	.chart.chart-appended {
		height: calc(300px - 3.71875rem)
	}
	.chart-sm {
		height: 225px
	}
	.chart-sm.chart-appended {
		height: calc(225px - 3.71875rem)
	}
	.chart-sparkline {
		width: 75px;
		height: 35px
	}
	.chart-legend {
		display: flex;
		justify-content: center;
		margin-top: 2.5rem;
		font-size: .8125rem;
		text-align: center;
		color: #95aac9
	}
	.chart-legend-item {
		display: inline-flex;
		align-items: center
	}
	.chart-legend-item+.chart-legend-item {
		margin-left: 1rem
	}
	.chart-legend-indicator {
		display: inline-block;
		width: .5rem;
		height: .5rem;
		margin-right: .375rem;
		border-radius: 50%
	}
	#chart-tooltip {
		z-index: 0;
	}
	#chart-tooltip .arrow {
		top: 100%;
		left: 50%;
		transform: translateX(-50%) translateX(-.5rem)
    }
    
    

}